/*==============================================================================

	Global styles

  # text
  # call-to-action
  # entries
  # information_block
  # about_video
  # text_video_image
  # text_large_image
  # blog_posts
  # facebook
  # vacant-jobs-education
  # testimonials
  # accordion
  # map
  # partners
  # coworkers

==============================================================================*/

/*=======================================================
  # text
=======================================================*/

.section__text{

	.background-color{
		background-color: $light-grey;

		@include media-breakpoint-up(lg){
			border-left: 15px solid $white;	
			border-right: 15px solid $white;

			.container-fluid{
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		&.pad-sm{
			padding: 40px 0px;

			@include media-breakpoint-up(sm){
				padding: 60px 0px;
			}

			@include media-breakpoint-up(lg){
				padding: 80px 0px;
			}
		}

		&.pad-md{
			padding: 80px 0px;

			@include media-breakpoint-up(sm){
				padding: 100px 0px;
			}

			@include media-breakpoint-up(lg){
				padding: 120px 0px;
			}
		}

		&.pad-lg{
			padding: 100px 0px;

			@include media-breakpoint-up(sm){
				padding: 140px 0px;
			}

			@include media-breakpoint-up(lg){
				padding: 200px 0px;
			}
		}
	}

	.text-center,
	.text-left,
	.text-right{
		@include media-breakpoint-down(sm){
			text-align: center !important;	
		}
	}

	.text-container{
		
		.heading ~ .text.marg-top-md{
			margin-top: 40px;
			transition: all 250ms ease;

			@include media-breakpoint-up(sm){
				margin-top: 60px;	
			}

			@include media-breakpoint-up(lg){
				margin-top: 100px;	
			}
		}

		.heading ~ .text.marg-top-lg{
			margin-top: 40px;
			transition: all 250ms ease;

			@include media-breakpoint-up(sm){
				margin-top: 80px;	
			}

			@include media-breakpoint-up(md){
				margin-top: 140px;		
			}

			@include media-breakpoint-up(lg){
				margin-top: 180px;	
			}
		}
	}
}

/*=======================================================
  # call-to-action
=======================================================*/

.section__call-to-action,
.container__call-to-action{
	padding-top: 0px;
	text-align: center;

	.bg-image{
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $opg-blue;
		transition: all 250ms ease;

		&.white-bg,
		&.grey-bg{

			.heading,
			.text,
			.text p,
			input,
			input::placeholder{
				color: $black;
			}

			.newsletter{
				input,
				input::placeholder{
					color: $black !important;
				}
				input{
					border-color: $black !important;
				}

				input[type="submit"],
				button{
				
				}
			}

			.selectize-control{
				background-color: $opg-blue;
				
				.selectize-input{
					background-color: $opg-blue !important;

					input,
					input::placeholder,
					.item{
						color: $white;
					}
					&:after{
						border-color: $white !important;
					}
				}
			}

			.btn,
			button,
			input[type="submit"]{
				color: $white !important;
				background-color: $opg-blue !important;
			}
		}

		&.white-bg{
			background-color: $white;
			padding-top: 15px !important;
			padding-bottom: 15px !important;

			.newsletter{
				input::placeholder{
					color: $text-grey !important;
				}
			}
		}

		&.grey-bg{
			background-color: $light-grey;
		}

		@include media-breakpoint-up(lg){
			padding-left: 0px;
			padding-right: 0px;
			border-left: 15px solid $white;
			border-right: 15px solid $white;	
		}

		&.pad-top-sm{
			padding-top: 80px;

			@include media-breakpoint-up(sm){
				padding-top: 100px;
			}

			@include media-breakpoint-up(lg){
				padding-top: 120px;
			}

		}
		&.pad-bot-sm{
			padding-bottom: 80px;

			@include media-breakpoint-up(sm){
				padding-bottom: 100px;
			}

			@include media-breakpoint-up(lg){
				padding-bottom: 120px;
			}

		}
		&.pad-top-md{
			padding-top: 120px;
			
			@include media-breakpoint-up(sm){
				padding-top: 180px;		
			}

			@include media-breakpoint-up(lg){
				padding-top: 240px;
			}

		}
		&.pad-bot-md{
			padding-bottom: 120px;
			
			@include media-breakpoint-up(sm){
				padding-bottom: 180px;		
			}

			@include media-breakpoint-up(lg){
				padding-bottom: 240px;
			}

		}
		&.pad-top-lg{
			padding-top: 120px;
			
			@include media-breakpoint-up(sm){
				padding-top: 180px;		
			}

			@include media-breakpoint-up(lg){
				padding-top: 300px;
			}

		}
		&.pad-bot-lg{
			padding-bottom: 120px;
			
			@include media-breakpoint-up(sm){
				padding-bottom: 180px;		
			}

			@include media-breakpoint-up(lg){
				padding-bottom: 300px;
			}

		}
	}

	.container-fluid{
		padding-left: 0px;
		padding-right: 0px;
	}

	.d-flex{
		flex-wrap: wrap;
	}


	.text-container{
		width: 100%;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		transition: all 250ms ease;

		@include media-breakpoint-up(lg){
			margin-bottom: 0px;	
			text-align: left;
			margin-left: 0px;
		}

		.heading{
			display: inline-block;
			width: auto;
			color: $white;

			@include media-breakpoint-up(md){
				text-align: left;
			}
		}
		
		p,
		.text{
			display: inline-block;
			max-width: 400px;
			color: $white;
			text-align: center;

			@include media-breakpoint-up(md){
				text-align: left;	
			}
		}

		.heading ~ .text{
			margin-top: 30px;
		}
	}

	.order-lg-2{
		.text-container{
			@include media-breakpoint-up(md){
				text-align: right;
				margin-right: 0px;
				margin-left: auto;

				.heading,
				.text{
					text-align: right;
				}
			}
		}
	}

	.link_block{
		@include media-breakpoint-up(sm){
			align-items: center;
		}

		.text-container{
			@include media-breakpoint-up(sm){
				width: calc( 100% - 300px );
				padding-right: 15px;	
			}
			@include media-breakpoint-up(md){
				text-align: left;	
			}
			@include media-breakpoint-up(xl){
				width: calc( 100% - 330px );
				padding-right: 30px;	
			}
		}

		&.cta-first{

			.cta-block-btn-container{
				@include media-breakpoint-up(md){
					float: left;
					order: 1;
					text-align: left;	
					align-items: flex-start;
				}
			}
			.text-container{
				@include media-breakpoint-up(sm){
					padding-left: 15px;
					padding-right: 0px;
				}
				@include media-breakpoint-up(md){
					float: right;
					order: 2;
					text-align: right;
					margin-right: 0px;	

					.text,
					.text p{
						text-align: left;
					}
				}
				@include media-breakpoint-up(xl){
					padding-left: 30px;
				}
			}
		}
	}

	.cta-block-btn-container{
		margin: 10px 0px;
		width: 100%;
		text-align: center;
		transition: all 250ms ease;

		@include media-breakpoint-up(md){
			display: flex;
			float: right;
			width: 300px;
			flex-direction: column;
			text-align: center;
			align-items: flex-end;
			justify-content: center;
		}
		@include media-breakpoint-up(xl){
			width: 330px;	
		}

		*{
			text-align: left;
		}

		.selectize-control{
			display: inline-block;
			width: auto;
			background-color: $white;
			font-size: 0px;

			@extend .box-shadow;
		}

		.selectize-input{
			min-width: 250px;
			padding: 25px 40px;
			transition: all 250ms ease;

			@include media-breakpoint-up(xl){
				padding: 50px 80px;	
			}

			&:before{
				display: none;
			}

			&:after{
				border-color: $opg-blue !important;
				margin-top: -5px !important;
				right: 40px !important;

				@include media-breakpoint-up(xl){
					right: 80px !important;	
				}
			}
			
			.item{
				color: $opg-blue;
			}

			input{
				color: $opg-blue;
				@include font-size($strong-font-sizes); 

				&::placeholder{
					color: $opg-blue;
					@include font-size($strong-font-sizes); 
				}
			}
		}

		.selectize-dropdown-content{

			.option{
				padding-left: 40px;
				padding-right: 40px;

				@include media-breakpoint-up(xl){
					padding-left: 80px;
					padding-right: 80px;	
				}
			}
		}

		.btn{
			@extend .box-shadow;
		}

		.btn ~ .btn{
			margin-top: 20px;

			@include media-breakpoint-up(sm){
				margin-top: 30px;	
			}
		}
	}

	.newsletter_cta{
		width: calc( 100% + 30px );
		max-width: calc( 100% + 30px );
		margin-left: -15px;

		@include media-breakpoint-up(lg){
			display: flex;	
		}

		.text-container{
			text-align: center;
			margin-right: auto;
			margin-left: auto;

			@include media-breakpoint-up(lg){
				text-align: right;
				margin-right: 0px;
			}

			.text{
				text-align: center;

				@include media-breakpoint-up(lg){
					text-align: right;
				}
			}
		}

		.order-lg-1{
			@include media-breakpoint-up(lg){

				.text-container{
					text-align: left;
					margin-right: auto;
					margin-left: 0px;

					.text{
						text-align: left;
					}
				}

			}
		}
		
		.newsletter{
			width: 100%;
			font-size: 0px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;

			@media(min-width: 450px ){
				width: auto;
			}
			@include media-breakpoint-up(lg) {
				text-align: right;
			}

			@include media-breakpoint-up(xl) {
				width: 100%;
			}

			form{
				display: inline-block;
				width: 400px;
				max-width: 100%;

				@include media-breakpoint-up(lg) {
					width: 100%;
					max-width: 420px;
				}
			}

			.form-content{
				max-width: 100%;

				@media(min-width: 450px ){
					width: calc( 100% - 160px );
					margin: 0px 
				}
			}

			input[type="text"],
			input[type="email"]{
				width: 100%;
				max-width: 100%;
				color: $white;
				border-bottom: 1px solid $white;

				&::placeholder{
					color: $white;
				}
			}

			.checkbox {
				span {
					color: $white;
				}
			}

			select{
				width: 100%;
				max-width: 100%;
				color: $white;
				border-bottom: 1px solid $white;

				option{
					color: $black !important;
				}
			}

			input[type="submit"],
			button{
				margin-bottom: 0px;
				@extend .btn--white;

				@media(min-width: 450px ){
					width: 140px;
					margin-left: 20px;	
				}
			}

			@media(min-width: 450px ){
				br{
					display: none;
				}	
			}
		}

		.order-lg-1{
			.newsletter{
				@include media-breakpoint-up(lg){
					text-align: left;
				}

				.text-container{

					@include media-breakpoint-up(lg){
						text-align: left;
						margin-left: 0px;	
						margin-right: auto;	
					}

					.text{
						@include media-breakpoint-up(lg){
							text-align: left;
						}
					}
				}
			}
		}
	}

}


/*=======================================================
  # entries
=======================================================*/

.section__entries{

	.text-container{
		margin-bottom: 60px;
		transition: all 250ms ease;
		text-align: center;

		@include media-breakpoint-up(sm) {
			margin-bottom: 80px;
		}
		@include media-breakpoint-up(md){
			text-align: left;	
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 120px;
		}
	}

	@include media-breakpoint-up(lg){
		.col-lg-custom{
			flex: 0 0 80%;
    		max-width: 80%;
    		margin-left: 10%;	
    		margin-right: 10%;	
		}
	}
}


/*=======================================================
  # entries
=======================================================*/

.section__information_block{
	text-align: center;

	@include media-breakpoint-up(md) {
		text-align: left;
	}
	
	.background-element{
		position: relative;
		padding: 80px 15px 100px;
		background-repeat: no-repeat;
		background-color: $opg-blue;
		background-size: cover;
		overflow: hidden;
		transition: all 250ms ease;
		
		@include media-breakpoint-up(sm){
			padding: 100px 15px 140px;	
		}

		@include media-breakpoint-up(lg){
			padding: 140px 0px 180px;
			border-left: 15px solid $white;
			border-right: 15px solid $white;	
		}

		@include media-breakpoint-up(xl) {
			padding: 200px 0px 280px;
		}
		
		.container-fluid{
			padding-left: 0px;
			padding-right: 0px;
		}

		.heading,
		.text,
		.text p{
			color: $white;
		}

		.main-text-container{
			margin-bottom: 80px;

			@include media-breakpoint-up(lg){
				margin-bottom: 140px;
			}
			@include media-breakpoint-up(lg){
				margin-bottom: 160px;
			}
		}
		
		.info-row{
			margin-bottom: -60px;

			@include media-breakpoint-up(lg){
				margin-bottom: -100px;
			}
			@include media-breakpoint-up(xl){
				margin-bottom: -120px;
			}
		}

		.info-col{
			margin-bottom: 60px;

			@include media-breakpoint-up(lg){
				margin-bottom: 100px;
			}
			@include media-breakpoint-up(xl){
				margin-bottom: 120px;
			}

			.heading ~ .text{
				margin-top: 20px;

				@include media-breakpoint-up(lg){
					margin-top: 40px;
				}
				@include media-breakpoint-up(xl){
					margin-top: 50px;
				}
			}	
		}
	}

	.heading,
	.text,
	.text p{
		color: $black;
	}

	.main-text-container{
		margin-bottom: 60px;

		@include media-breakpoint-up(lg){
			margin-bottom: 80px;
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 100px;
		}
	}
	
	.info-row{
		margin-bottom: -40px;

		@include media-breakpoint-up(lg){
			margin-bottom: -60px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: -80px;
		}
	}

	.info-col{
		margin-bottom: 40px;
		transition: all 250ms ease;

		@include media-breakpoint-up(lg){
			margin-bottom: 60px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 80px;
		}

		.heading ~ .text{
			margin-top: 20px;
		}

		@include media-breakpoint-up(lg){
			
			&:nth-child( 3n + 1){
				padding-right: 30px;
			}
			&:nth-child( 3n + 2 ){
				padding-left: 22.5px;	
				padding-right: 22.5px;	
			}
			&:nth-child( 3n + 3 ){
				padding-left: 30px;
			}
		}
		@include media-breakpoint-up(xl){
			
			&:nth-child( 3n + 1){
				padding-right: 35px;
			}
			&:nth-child( 3n + 2 ){
				padding-left: 25px;	
				padding-right: 25px;	
			}
			&:nth-child( 3n + 3 ){
				padding-left: 35px;
			}
		}
	}
}


/*=======================================================
  # about_video
=======================================================*/

.section__about_video{
	position: relative;

	@include media-breakpoint-up(md){
		padding-top: 60px;	
	}
	@include media-breakpoint-up(lg){
		padding-top: 80px;		
	}
	@include media-breakpoint-up(xl){
		padding-top: 100px;		
	}

	.background-element{
		position: absolute;
		display: none;
		top: 0px;
		right: 15px;
		width: calc( 85% - 30px );
		height: 0px;
		padding-bottom: calc( 42.5% - 30px );
		z-index: -1;

		@include media-breakpoint-up(md){
			display: block;	
		}

		img{
			position: absolute;
			top: 0;
			right: 0;
			max-width: 100%;
		}

		svg{
			position: absolute;
			top: 0;
			right: 0;
			max-width: 100%;
			height: 100%;
		}
	}

	.text-container-col{
		@include media-breakpoint-up(lg){
			text-align: right;
			flex: 0 0 auto;
		}
	}

	.text-container-outer{
		@include media-breakpoint-up(md) {
			text-align: right;
		}
	}

	.text-container{
		display: inline-block;
		margin-bottom: 40px;
		text-align: center;
		transition: all 250ms ease;
		
		@include media-breakpoint-up(sm) {
			margin-bottom: 60px;
		}

		@include media-breakpoint-up(md){
			margin-top: 50px;
			text-align: left;	
		}

		@include media-breakpoint-up(lg){
			width: auto;
			margin-top: 80px;	
		}

		@include media-breakpoint-up(xl){
			margin-top: 100px;	
		}

		.heading{
			@include font-size($s1-2-font-sizes);

			@include media-breakpoint-up(md) {
				display: block;
				width: auto;
			}			
		}

		.text{
			@include media-breakpoint-up(md) {
				display: block;
				width: auto;
			}
		}

		.heading ~ .text{
			margin-top: 30px;

			@include media-breakpoint-up(sm){
				margin-top: 40px;	
			}

			@include media-breakpoint-up(md){
				margin-top: 50px;	
			}

			@include media-breakpoint-up(lg){
				margin-top: 60px;	
			}

			@include media-breakpoint-up(xl){
				margin-top: 80px;	
			}
		}
	}
	
	.image-container{
		width: 100%;
	    max-width: 550px;
	    margin: 0 auto;
	}

	.image{
		width: calc( 100% - 15px );
		margin-bottom: 15px;

		@extend .box-shadow-pink;
	}

	.link-container{
		margin-top: 55px;
		text-align: center;
		
		@include media-breakpoint-up(md) {
			text-align: left;
			margin-top: 20px;
		}
	}

	@include media-breakpoint-up(xl){
		.col-xl-custom{
			flex: 0 0 80%;
    		max-width: 80%;
    		margin-left: 10%;	
    		margin-right: 10%;	
		}
	}
}

.video-container-outer{
	width: 100%;
	max-width: 550px;
	margin: 0px auto;

	@include media-breakpoint-up(md) {
		max-width: none;
	}
}

.video-container{
	position: relative;
	width: calc( 100% - 15px );
	height: 0px;
	padding-bottom: calc( 56.25% - 8.5px );
	background-color: $light-grey;
	margin-bottom: 15px;
	overflow: hidden;

	@extend .box-shadow-pink;

	.video-loader{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		transition: all 250ms ease;
	}

	.video-overlay{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba( $black, 0.5 );
		opacity: 0;
		transition: all 250ms ease;
		cursor: pointer;

		.video-player-btn{
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 250ms ease;
			transform: translate( -50%, -50% ) scale( 0 );
			cursor: pointer;
		}
	}

	.inline-YTPlayer{
		max-width: 100% !important;

		.video-loader{
			opacity: 0;
			transform: translate( -50%, -50% ) scale( 0 );
			max-height: 0px;
			max-width: 0px;
		}
		.video-overlay{
			opacity: 1;

			.video-player-btn{
				transform: translate( -50%, -50% ) scale( 1 );
			}
		}
	}

	.video.play .video-overlay{
		opacity: 0 !important;

		.video-player-btn{
			transform: translate( -50%, -50% ) scale( 1 ) !important;
		}
	}

	//Plugin loader
	.loading{
		display: none !important;
	}
}


/*=======================================================
  # text_video_image
=======================================================*/

.section__text_video_image{
	
	.text-container-outer{
		text-align: center;
		margin-bottom: 40px;
		transition: all 250ms ease;

		@include media-breakpoint-up(md) {
			margin-bottom: 40px;
		}
	}

	.text-container{
		display: inline-block;
		width: auto;

		@include media-breakpoint-up(md) {
			text-align: left;
		}

		.heading{
			max-width: 550px;
		}
		.heading, .text{
			display: inline-block;
			width: 100%;
	
			@include media-breakpoint-up(md) {
				display: block;
				width: auto;
			}

		}
		.heading ~ .text{
			margin-top: 20px;

			@include media-breakpoint-up(sm) {
				margin-top: 30px;
			}
			@include media-breakpoint-up(md) {
				margin-top: 40px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: 60px;
			}
		}

		.text{
			text-align: left;
		}
	}

	.content-center-md{
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	
	.image-container{
		width: 100%;
	    max-width: 550px;
	    margin: 0 auto;
	}

	.image{
		width: calc( 100% - 15px );
		margin-bottom: 15px;

		@extend .box-shadow-pink;
	}

}


/*=======================================================
  # text_large_image
=======================================================*/

.section__text_large_image{
	transition: all 250ms ease;

	@include media-breakpoint-up(lg){
		padding-top: 100px;	
		padding-bottom: 100px;	
	}
	@include media-breakpoint-up(xl){
		padding-top: 150px;	
		padding-bottom: 150px;	
	}
	
	.text-container{
		margin-bottom: 50px;
		text-align: center;
		transition: all 250ms ease;

		@include media-breakpoint-up(md){
			text-align: left;
			margin-bottom: 0px;
		}

		.text{
			text-align: left;
		}

		.heading ~.text{
			margin-top: 30px;

			@include media-breakpoint-up(lg){
				margin-top: 50px;	
			}

			@include media-breakpoint-up(xl){
				margin-top: 80px;	
			}
		}
	}

	.image-col{
		@include media-breakpoint-up(md){
			position: absolute;
			top: 0px;
			right: 0px;
			height: 100%;
		}
	}

	.image-container{
		position: relative;
		height: 100%;

		.image{
			position: absolute;
			top: 50%;
			right: 0px;
			max-height: 100%;
			max-width: 100%;
			transform: translateY( -50% );
		}
	}


	.justify-content-md-end{

		.text-container{
			@include media-breakpoint-up(md){
				text-align: right;	
			}
		}

		.text{
			@include media-breakpoint-up(md){
				text-align: right;
			}
		}

		.image-col{
			@include media-breakpoint-up(md){
				left: 0px;		
				right: auto;		
			}
		}

		.image-container{
			.image{
				@include media-breakpoint-up(md){
					left: 0px;
					right: auto;
				}
			}
		}
	}
}

/*=======================================================
  # blog_posts
=======================================================*/

.section__blog_posts{
	.text-container{
		display: flex;
		height: 100%;
		flex-wrap: wrap;
		align-items: flex-end;
		text-align: center;
		padding-bottom: 30px;
		
		@include media-breakpoint-up(md) {
			text-align: left;
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: 50px;
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: 80px;
		}

		.heading, p{
			display: inline-block;
			width: 100%;
		}
		.heading ~ p{
			margin-top: 20px;
		}
		p{
			vertical-align: baseline;
			margin-left: auto;
			margin-right: auto;
			font-weight: 300;

			@include media-breakpoint-up(md) {
				margin-left: 0px;
				margin-right: 0px;
			}
		}

	}

	@include media-breakpoint-up(xl){
		.col-xl-custom{
			flex: 0 0 40%;
    		max-width: 40%;		
		}
	}
}

.category-container{
	display: flex;
	height: 100%;
	padding-bottom: 30px;
	align-items: flex-end;

	@include media-breakpoint-up(lg) {
		padding-bottom: 50px;
	}
	@include media-breakpoint-up(xl) {
		padding-bottom: 80px;
	}

	&__inner{
		display: block;
		width: calc( 100% + 10px );
		margin-left: -5px;
		margin-right: -5px;
		text-align: center;

		@include media-breakpoint-up(md) {
			width: 100%;
			text-align: right;
		}
	}

	li{
		display: inline-block;
		vertical-align: baseline;
		margin: 0px 5px;

		&:first-of-type{
			margin-left: 0px;
		}
		&:last-of-type{
			margin-right: 0px;
		}

		@include media-breakpoint-up(xl) {
			margin-right: 20px;
		}

		.blog-category-toggle{
			position: relative;
			margin: 5px;
			color: $text-grey;
			font-family: $font-header;
			vertical-align: baseline;
			transition: all 250ms ease;

			@include font-size($strong-font-sizes); 


			&:after{
				display: block;
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0%;
				width: 100%;
				height: 1px;
				max-width: 0px;
				background-color: $text-grey;
				transition: all 150ms ease;
			}

			&.current,
			&:hover{
				color: $opg-blue;
				
				&:after{
					max-width: 100%;
					background-color: $opg-blue;
				}
			}
		}
	}
}

.blog-posts-container{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	text-align: center;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;

	@include media-breakpoint-only(sm) {
		text-align: left;
	}

	.blog-item{
		@include media-breakpoint-up(sm) {
			width: 50%;
			max-width: 50%;
		}
		@include media-breakpoint-up(md) {
			width: 33.33%;
			max-width: 33.33%;

			&:first-of-type{
				text-align: left;
			}
			&:last-of-type{
				text-align: right;
			}
		}
	}
}

.blog-item{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	transition: all 250ms ease;

	& > a{
		display: inline-block;
		width: 100%;
		height: 100%;
		max-width: 375px;
		padding: 15px;
		text-align: center;
		transition: all 250ms ease;

		@include media-breakpoint-up(md) {
			padding-bottom: 30px;

			&:hover{
				background-color:  $bg-hover;
			}
		}

		@include media-breakpoint-up(xl) {
			max-width: 100%;
		}
	}

	.img-container{
		position: relative;
		width: 100%;
		height: 0px;
		padding-bottom: 80%;
		margin-bottom: 30px;
		background-color: $light-grey;
		overflow: hidden;
		transition: all 250ms ease;


		@include media-breakpoint-up(sm) {
			margin-bottom: 40px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 60px;
		}

		img{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate( -50%, -50% );
		}
	}

	.content-container{
		display: inline-block;
		width: 100%;
		max-width: 375px;
	}

	.heading{
		margin-bottom: 20px; 
		color: $black;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 40px;
		}
	}

	.categories{
		color: $text-grey;
		margin-bottom: 20px;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			margin-top: -10px;
			margin-bottom: 20px;
		}

		@include media-breakpoint-up(xl) {
			margin-top: -20px;
			margin-bottom: 30px;
		}	
	}

	.excerpt{
		margin-bottom: 20px; 
		color: $black;
		font-weight: 300;
		@include font-size($p-font-sizes);
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 40px;
		}
	}
	
	.pub-date{
 		color: $text-grey;
 		font-weight: 300;
 		text-transform: uppercase;
 		@include font-size($p-font-sizes);
	}
}


/*=======================================================
  # facebook
=======================================================*/

.section__facebook{

	.text-container{
		text-align: center;
		padding-bottom: 30px;
		
		@include media-breakpoint-up(md) {
			text-align: left;
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: 50px;
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: 80px;
		}

		.heading, p{
			display: inline-block;
			width: 100%;
		}
		.heading ~ p{
			margin-top: 20px;
		}
	}

	@include media-breakpoint-up(xl){
		.col-xl-custom{
			flex: 0 0 80%;
    		max-width: 80%;		
			margin-left: 10%;
			margin-right: 10%;
		}
	}
}

.cff-wrapper{
	width: 100%;
} 

#cff{
	width: 100%;

	.cff-posts-wrap{

		//General
		.cff-item{
			position: relative;
			display: block;
			float: left;
			clear: none;
			width: 100%;
			padding: 15px;
			margin-bottom: 30px;
			border: 0px;
			text-align: center;
			transition: all 250ms ease;

			@include media-breakpoint-up(sm) {
				width: 50%;
			}

			@include media-breakpoint-up(md) {
				width: 33.33%;
			}	

			@include media-breakpoint-up(xl){

				// .cff-media-wrap,
				// .cff-html5-video,
				// .cff-shared-link > * ,

				.cff-post-text,
				.cff-date{
					display: block;
					float: none;
					width: 100%;
					max-width: 375px;		
					margin-left: auto;
					margin-right: auto;
				}

				/* &:nth-child( 3n + 1 ){
					.cff-media-wrap,
					.cff-html5-video,
					.cff-post-text,
					.cff-date,
					.cff-shared-link > * {
						margin-left: 0px;		
					}
				}
				
				&:nth-child( 3n + 3 ){
					.cff-media-wrap,
					.cff-html5-video,
					.cff-post-text,
					.cff-date,
					.cff-shared-link > * {
						margin-right: 0px;		
					}
				} */
			}
		}

		.cff-link,
		.cff-media-wrap,
		.cff-html5-video{
			position: relative;
			width: 100%;
			height: 0px;
			padding-bottom: 80%;
			margin-bottom: 30px;
			overflow: hidden;
			transition: all 250ms ease;

			@include media-breakpoint-up(sm) {
				margin-bottom: 40px;
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: 60px;
			}

			img,
			.cff-photo{
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50% );
				z-index: 0;
			}

			.cff-photo{
				height: 100%;
			}

			.cff-photo-hover,
			.cff-lightbox-link{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				z-index: 10;
			}

			.cff-photo-hover{

			}
		}

		.cff-link img{
			width: calc( 100% - 30px );
		}

		.cff-photo{
			margin-bottom: 0px;
		}

		.cff-meta-wrap,
		.cff-comments-box{
			display: none;
		}

		.cff-post-text{
			margin: 0px;

			/* &:first-child{
				@include media-breakpoint-up(sm) {
					padding-top: calc( 80% + 40px );
				}
				@include media-breakpoint-up(xl) {
					padding-top: calc( 80% + 60px );
				}
			} */
		}

		.cff-text{
			display: block;
			color: $black;
			font-weight: 300;
			transition: all 250ms ease;
			overflow: hidden;
			@include font-size($p-font-sizes);

			@include media-breakpoint-up(sm) {
				max-height: 91px;
			}

			a{
				font-weight: 300;
				color: $black;
				@include font-size($p-font-sizes);
			}
		}

		.cff-date{
			color: $text-grey;
	 		font-weight: 300;
	 		margin-top: 20px; 
	 		text-transform: uppercase;
			transition: all 250ms ease;
	 		@include font-size($p-font-sizes);

			@include media-breakpoint-up(sm) {
				margin-top: 30px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: 40px;
			}
		}

		//Shared Link
		.cff-shared-link{
			position: relative;
			width: 100%;
			height: 0px;
			padding-bottom: 80%;
			margin-bottom: 30px;
			border: 0px;
			background-color: transparent;

			.cff-link{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;

			}
		}

		.cff-link-caption{
			display: none;
		}

		.cff-post-desc{
			display: none;
			color: $black;
			font-weight: 300;

			a{
				font-weight: 300;
				color: $black;
				@include font-size($p-font-sizes);
			}
		}

		.cff-link-title{
			font-weight: 300;
			display: none !important;
		}

		.cff-link-title a{
			display: inline-block;
			color: $black;
			font-family: $font-header;
			font-weight: 300;
			@include font-size($s4-font-sizes);

			&:hover{
				text-decoration: none;
			}
		}

		.cff-text-link {
			padding: 0px;
		}
	}
}


/*=======================================================
  # vacant-jobs-education
=======================================================*/

.section__vacant-jobs-education{

	.background-element{
		position: relative;
		padding: 80px 15px;
		background-repeat: no-repeat;
		background-color: $opg-blue;
		background-size: cover;
		overflow: hidden;
		transition: all 250ms ease;

		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			padding: 100px 15px;
		}
		@include media-breakpoint-up(lg){
			padding: 120px 0px;
			border-left: 15px solid $white;
			border-right: 15px solid $white;	
		}
		@include media-breakpoint-up(xl) {
			padding: 200px 0px;
		}
		
		.container-fluid{
			padding-left: 0px;
			padding-right: 0px;
		}

		.heading,
		.text-container p,
		.cta-link{
			color: $white;
		}
		.cta-link:after{
			border-color: $white;
		}
	}

	.text-container{
		margin-bottom: 60px;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			margin-bottom: 80px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 120px;
		}
	}
	.content{
		margin-bottom: 40px;
		transition: all 250ms ease;

		@include media-breakpoint-up(lg) {
			margin-bottom: 60px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 100px;
		}
	}
}


/*=======================================================
 # testimonials
=======================================================*/

.section__testimonials{
	position: relative;

	padding: 100px 0px 200px;

	@include media-breakpoint-up(md) {
		padding: 200px 0px;
	}

	.background-element{
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate( -50%, -50%);
		overflow: hidden;
		z-index: -1;

		@include media-breakpoint-up(md){
			display: block;	
		}

		@include media-breakpoint-up(lg) {
			width: calc( 100% - 30px );
		}

		.image{
			max-height: 100%;
			width: 100%;
		}
	}

	.item{
		overflow: hidden;
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.image-container{
		width: 100%;
		max-width: 550px;
		padding: 0px 15px;
		margin: 0px auto;

		@include media-breakpoint-up(md) {
			float: right;
			width: 50%;
			max-width: none;
		}

		.image{
			max-width: calc( 100% - 15px );
			margin-bottom: 20px;
		}
	}


	.content-container{
		float: left;
		width: 100%;
		padding: 0px 15px;
		text-align: center;
		color: $black;

		@include media-breakpoint-up(md) {
			float: left;
			width: 50%;
			text-align: left;
		}

		.heading,
		.title,
		.text{
			display: inline-block;
			max-width: 400px;
			color: $black;
		}

		.heading{
			margin-top: 30px;
			
			@include media-breakpoint-up(md) {
				margin-top: 40px;
			}

			@include media-breakpoint-up(lg) {
				margin-top: 60px;
			}
		}

		.heading ~ .title{
			margin-top: 10px;

			@include media-breakpoint-up(lg) {
				margin-top: 20px;
			}
		}

		.text{
			margin-top: 20px;
			text-align: left;

			@include media-breakpoint-up(lg) {
				margin-top: 30px;
			}
		}
	}

	/* &.show-bg{
		@include media-breakpoint-up(md){
				
			.content-container{
				color: $white;
			}
	
			.heading,
			.title,
			.text{
				color: $white;
			}
	
			.owl-carousel{
				.owl-dot{
					border: 1px solid $white;
	
					&:hover,
					&.active{
						background-color: $white;
					}
				}
			}
		
		}
	} */
}

.owl-carousel{

	.owl-dots{
		text-align: center;
		margin: 30px -5px 0px;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			margin-top: 40px;
		}

		@include media-breakpoint-up(lg) {
			margin-top: 60px;
		}
	}
	.owl-dot{
		display: inline-block;
		height: 10px;
		width: 10px;
		margin: 5px;
		border: 1px solid $black;
		border-radius: 50%;
		transition: all 250ms ease;
		cursor: pointer;

		outline: none !important;

		&:hover,
		&.active{
			background-color: $black;
		}
	}

}

/*=======================================================
 # accordion
=======================================================*/

.section__accordion{

	.main-text-container{
		margin-bottom: 60px;

		@include media-breakpoint-up(lg){
			margin-bottom: 80px;
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 100px;
		}

		.heading ~ .text{
			margin-top: 30px;
		}
	}

	.card,
	.card-header,
	.card-block{
		border: 0px;
		padding: 0px;
		border-radius: 0px;
		background-color: transparent;
	}

	.card{
		transition: all 250ms ease;

		&.show{
			background-color: #fcfcfc;
		}
		&:not(:first-of-type) .card-heading{
			border-top: 1px solid #ededed;
		}
	}


	.card-heading{
		a{
			position: relative;
			display: block;
			padding: 20px 0px;
			padding-right: 25px !important;
			color: $black;
			font-weight: 300;
			transition: all 250ms ease;

			@include font-size($s4-font-sizes);

			@include media-breakpoint-up(sm) {
				padding: 30px 0px;
			}
			@include media-breakpoint-up(md) {
				padding: 40px 0px;
				color: $grey;
			}
			@include media-breakpoint-up(xl) {
				padding: 60px 0px;

			}

			&:after{
				display: block;
				content: "";
				position: absolute;
				top: 50%;
				right: 0px;
				height: 8px;
				width: 8px;
				border-right: 2px solid $black;
				border-bottom: 2px solid $black;
				transition: all 250ms ease;
				transform: translateY( -50% ) rotate( -135deg );
			}

			&.collapsed{
				color: $black;
				background-color: transparent;

				&:after{
					transform: translateY( -50% ) rotate( 45deg );
				}
			}
		}
	}
	
	.card-block{
		padding: 10px 0px 60px;
		text-align: center;
		overflow: hidden;
		transition: all 250ms ease;

		@include media-breakpoint-up(md) {
			padding: 40px 0px 80px;
			text-align: left;
		}
		@include media-breakpoint-up(xl) {
			padding: 60px 0px 120px;

		}

		.q-container{
			display: none;
			float: left;
			width: 50%;
			padding-right: 12.5%;

			@include media-breakpoint-up(md) {
				display: block;
			}
		}	
		
		.text-container-outer{
			@include media-breakpoint-up(md) {
				float: right;
				width: 50%;
				text-align: right;
			}
		}
	}
}


/*=======================================================
 # map
=======================================================*/

.section__map{
	text-align: center;

	@include media-breakpoint-up(md) {
		text-align: left;
	}

	.main-text-container{
		padding-bottom: 30px;
		
		@include media-breakpoint-up(lg) {
			padding-bottom: 50px;
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: 80px;
		}
	}

	.map-container{
		position: relative;

		@include media-breakpoint-up(md) {
			padding: 0px 15px;
		}
	}

	.map-text-container{
		padding: 15px;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			text-align: left;
		}

		@include media-breakpoint-up(md) {	
			position: absolute;
			bottom: 0px;
			left: 15px;
			width: auto;
			background-color: $white;
			z-index: 1;
			padding: 30px 50px 30px 45px;
		}

		@include media-breakpoint-up(lg) {
			padding: 45px 65px 45px 60px;
		}

		@include media-breakpoint-up(xl) {
			padding: 60px 80px 60px 75px;
		}

		.heading{
			display: block;
		}

		.heading ~ .text {
			margin-top: 5px;
		}
	}

	.acf-map{
		display: block;
		height: 400px;
		width: 100%;
	}
}


/*=======================================================
  # partners
=======================================================*/

.section__partners{

	.text-container{
		text-align: center;
		padding-bottom: 30px;
		
		@include media-breakpoint-up(md) {
			text-align: left;
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: 50px;
		}
	}

	.partner-image-container{
		display: flex;
		width: 100%;
		height: 100%;
		margin-bottom: 30px;
		justify-content: center;
		align-items: center;
		transition: all 250ms ease;
		
		@include media-breakpoint-up(md) {
			margin-bottom: 45px;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 60px;
		}
	}

	.partner-image{
		max-width: 110px;
	}
}


/*=======================================================
  # coworkers
=======================================================*/

.section__coworkers{

	.text-container{
		text-align: center;
		padding-bottom: 30px;
		
		@include media-breakpoint-up(md) {
			text-align: left;
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: 50px;
		}
	}

	.area-heading{
		margin-top: 40px;

		@include media-breakpoint-up(sm) {
			margin-top: 60px;
		}

		@include media-breakpoint-up(md) {
			margin-top: 80px;
		}
	}
}

.coworker-card{
	text-align: center;
	margin-bottom: 60px;
	
	.img-container-outer{
		width: 100%;
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.img-container{
		position: relative;
		width: 100%;
		height: 0px;
		padding-bottom: 120%;
		margin-bottom: 20px;
		background-color: $light-grey;
		overflow: hidden;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			margin-bottom: 40px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 60px;
		}

		img{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate( -50%, -50% );
		}
	}
	
	.name a,
	.surname a,
	.title,
	.phone-container a,
	.mail a{
		color: $black;
	}

	.surname,
	.title,
	.phone-container,
	.mail,
	.linkedin{
		margin-bottom: 20px;
	}

	.name a,
	.surname a{
		font-weight: inherit;
		font-family: inherit;
		font-size: inherit;
	}

	.phone-container a{
		font-weight: 700;
	}
	.mail a{
		font-weight: 700;
		text-decoration: underline;
	}

	.linkedin{
		display: inline-block;
		width: 20px;
		height: 20px;
	}
}