.btn{
	display: inline-block;
	position: relative;
	max-width: 100%;
	padding: 20px 40px;
	border-radius: 0px;
	border: 0px;
	color: $white;
	font-family: $font-header;
	background-color: $grey;
	box-shadow: 0px 1px 3px 0px rgba( $black, 0.1 );
	outline: none !important;
	overflow: hidden;
	transition: all 250ms $cubic-bezier;
	flex-wrap: wrap;
	white-space: normal;
	cursor: pointer;

	&:before{
		display: block;
		content: "";
		position: absolute;
		top: - 20px;
		left: -40px;
		height: calc( 100% + 40px );
		width: 25px;
		background-color: rgba( $white, 0.3 );
		transform-origin: center center;
		transform: rotate( 20deg ) translate3d(0,0,0);
		transition: all 0ms;
	}

	&:hover{
		color: $white;
		
		&:before{
			margin-left: calc( 100% + 80px );
			transition: all 200ms $cubic-bezier;
		}
	}

	&:focus{
		color: $white;
		box-shadow: 0px 2px 3px 0px rgba( $black, 0.27 );
	}
	&:active{
		color: $white;
		box-shadow: 0px 0px 0px 0px rgba( $black, 0 );
	}

	&--large{
		padding: 20px 45px;
		font-size: 18px;
		@extend .btn;
	}

	&--x-large{
		padding: 20px 45px;
		font-size: 18px;

		@include media-breakpoint-up(sm){
			padding: 40px 45px;	
		}

		@include media-breakpoint-up(xl){
			padding: 50px 65px;

			&:before{
				top: - 30px;
				left: -80px;
				height: calc( 100% + 60px );
				width: 40px;
			}

			&:hover:before{
				margin-left: calc( 100% + 140px );
			}

		}

		@extend .btn;
	}

	&--blue{
		color: $white !important;
		background-color: $opg-blue;
		@extend .btn;
	}

	&--white{
		color: $opg-blue !important;
		background-color: $white !important;
		@extend .btn;

		&:before{
			background-color: rgba( $opg-blue, 0.1 );
		}
	}
}




$menuBtnTime: 250ms;
.menu-btn{
	cursor: pointer;
	position: relative;
	display: block;
	height: 26px;
	width: 30px;
	transform: rotate(0deg) translate3d(0,0,0) scale(1.0, 1.0);
	transition: transform $menuBtnTime, opacity 250ms ease;
	z-index: 1000;

	@include media-breakpoint-up(md) {
		height: 30px;
		width: 36px;
	}

	.menu-row{
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 1px;
		background-color: $black;
		opacity: 1;
		transform: translateY( -50% ) translate3d(0,0,0) scale(1.0, 1.0) ;
	}
	.menu-row.top{
		margin-top: -7px;
        transition: transform $menuBtnTime linear 0ms, 
        			margin $menuBtnTime linear $menuBtnTime;	

        @include media-breakpoint-up(md) {
			margin-top: -9px;
        }
	}
	.menu-row.mid{
		transition-duration: 0s;
        transition-delay: $menuBtnTime, 0s;
	}
	.menu-row.bot{
		margin-top: 7px;
        transition: transform $menuBtnTime linear 0ms, 
        			margin $menuBtnTime linear $menuBtnTime, 
        			max-width $menuBtnTime ease, 
        			left $menuBtnTime ease;

        @include media-breakpoint-up(md) {
			max-width: 70%;
			left: 30%;
			margin-top: 9px;
        }	
	}

	@include media-breakpoint-up(lg) {
		&:hover{
			.menu-row{
				max-width: 100%;
				left: 0%;
			}
		}	
	}
	&.open{
		transform: rotate(180deg) translate3d(0,0,0) scale(1.0, 1.0);
		.menu-row.top{
			margin-top: 0px !important;
			opacity: 1;
            transform: rotate( 45deg );
            transition: margin $menuBtnTime linear 0ms, 
            			transform $menuBtnTime linear $menuBtnTime;
		}
		.menu-row.mid{
            opacity: 0;
            transition-delay: $menuBtnTime, 0s;
		}
		.menu-row.bot{
		    margin-top: 0px !important;
		    max-width: 100%;
			left: 0%;
		   	opacity: 1;
            transform: rotate( -45deg );
            transition: margin $menuBtnTime linear 0ms, 
            			transform $menuBtnTime linear $menuBtnTime, 
            			max-width $menuBtnTime ease, 
            			left $menuBtnTime ease;
		}
	}
}