

.section__intro{
	position: relative;
	transition: all 250ms ease;
	
	//the negative margin-top is the negate the top padding of .main in _global.scss
	margin-top: -45px;

	@include media-breakpoint-up(lg) {
		margin-top: calc( ( #{$intro_padding_lg} + 15px ) * -1 );
	}
	@include media-breakpoint-up(xl) {
		margin-top: calc( ( #{$intro_padding_xl} + 15px ) * -1 );
	}

	&__image{
		margin-bottom: 150px;

		@include media-breakpoint-up(sm){
			margin-bottom: 200px;	
		}

		@include media-breakpoint-up(lg){
			margin-bottom: 300px;	
		}
	}

	&__element{
		margin-bottom: 40px;

		@include media-breakpoint-up(sm){
			margin-bottom: 60px;	
		}

		@include media-breakpoint-up(lg){
			margin-bottom: 80px;	
		}

		&.archive{
			margin-bottom: 0px !important;
		}
	}

	.background-element,
	.bg-image{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: -1;

		@include media-breakpoint-up(lg){
			left: 15px;
			width: calc( 100% - 30px );
		}
	}

	.filter-image{
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.background-element-container{
		position: relative;
		padding-top: 45px;
		padding-bottom: 15px;
		transition: all 250ms ease;

		@include media-breakpoint-up(lg) {
			padding-top: calc( ( #{$intro_padding_lg} + 15px ) );
			padding-bottom: 60px;	
		}
		@include media-breakpoint-up(xl) {
			padding-top: calc( ( #{$intro_padding_xl} + 15px ) );
		}

		.text-container{
			text-align: center;

			@include media-breakpoint-up(md){
				text-align: left;	
			}

			.text{
				text-align: left;
			}
		}
	}

	.background-element svg{
		width: 100%;
		max-height: 150px;
		opacity: 0;
		transition: all 250ms ease;

		@include media-breakpoint-up(lg) {
			opacity: 1;
			max-height: 210px;
		}

		@include media-breakpoint-up(xl) {
			max-height: 400px;
		}
	}

	
	.background-image-container{
		display: flex;
		position: relative;
		text-align: center;
		padding-top: 100px;
		transition: all 250ms ease;

		@include media-breakpoint-up(md){
			min-height: 650px;	
		}

		@include media-breakpoint-up(lg) {
			min-height: 800px;
			min-height: 85vh;
			padding-top: calc( ( #{$intro_padding_lg} + 15px ) );
		}

		@include media-breakpoint-up(xl) {
			min-height: 900px;	
			min-height: 95vh;	
			padding-top: calc( ( #{$intro_padding_xl} + 15px ) );
		}

		.bg-image{
			height: 100%;
			z-index: -2;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: $light-grey;
			background-size: cover;
			overflow: hidden;

			.placeholder{
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				width: 100%;
				height: 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				filter: blur(3px);
			}

			&.tall-box{
				.main-intro-image{
					height: 100%;
					width: auto;
				}
			}
			
			&.wide-box{
				.main-intro-image{
					width: 100%;
					height: auto;
				}
			}

			.main-intro-image{
				position: absolute;
				top: 50%;
				left: 50%;
				max-width: none;
				transform: translate( -50%, -50% );
				transition: opacity 500ms ease;

				&.loaded {
					filter: blur(0px);
				}
			}
			
			&:after{
				display: block;
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				background-color: rgba( $black, 0.4 );
				transition: all 250ms ease;

				@include media-breakpoint-up(lg) {
					background-color: rgba( $black, 0.1 );
				}
			}
		}

		> .container-fluid{
			min-height: 100%;

			> .row{
				min-height: 100%;

				> div{
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
				}
			}
		} 

		.text-container{
			display: inline-block;
			max-width: 1000px;

			.heading{
				margin-bottom: 20px;
				color: $white;
				text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
				transition: all 250ms ease;
			}

			.text{
				display: inline-block;
				color: $white;
				text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
				transition: all 250ms ease;
				text-align: center;
			}

			.heading ~ .text{
				margin-top: 40px;

				@include media-breakpoint-up(lg){
					margin-top: 50px;	
				}
			}
		}

		.cta-btns-container{
			position: relative;
			margin: 80px -5px 15px -5px;
			font-size: 0px;
			transition: all 250ms ease;
			z-index: 2;

			@include media-breakpoint-up(md){
				width: 100%;
			}
			@include media-breakpoint-up(lg){
				margin-top: 120px;
			}
			@include media-breakpoint-up(xl){
				margin-left: calc( 10% - 15px );
				margin-right: calc( 10% - 15px );
				width: 80%;
			}

			@media ( min-width: 2000px) {
				margin-top: 200px;
			}

			li{
				display: inline-block;
				font-size: 0px;
				padding: 5px;

				@include media-breakpoint-up(xl){	
					width: 33.33%;
					padding: 0px;
					text-align: center;

					&:first-of-type{
						text-align: left;
					}
					&:last-of-type{
						text-align: right;
					}
				}
			}

			.cta-btn{
				min-width: 250px;

				@include media-breakpoint-up(xl) {
					width: calc( 100% - 50px );
					padding: 40px 45px;
				}
			}
		}
	}

	.section__call-to-action{
		transition: all 250ms ease;

		@include media-breakpoint-up(lg){
			padding-left: 15px;
			padding-right: 15px;
		}

		.contact-background{
			position: relative;
			background-color: $opg-blue;
			padding: 70px 15px 40px;
			transition: all 250ms ease;
			z-index: 1;
			
			@include media-breakpoint-up(sm) {
				padding: 80px 15px 60px;
			}

			@include media-breakpoint-up(md){
				padding: 90px 15px 60px;
			}

			@include media-breakpoint-up(lg){
				padding: 120px 0px 60px;	
			}

			@include media-breakpoint-up(xl){
				padding: 160px 0px 80px;		
			}

			.contact-background-element{
				position: absolute;
				top: 0px;
				left: 50%;
				width: 100%;
				height: calc( 100% + 270px );
				z-index: 0;
				overflow: hidden;
				transition: all 250ms ease;
				transform: translate( -50%, -160px );

				@include media-breakpoint-up(sm){
					height: calc( 100% + 300px );
					transform: translate( -50%, -180px );
				}

				@include media-breakpoint-up(xl){
					height: calc( 100% + 330px );
					transform: translate( -50%, -170px );
				}

				svg{
					position: absolute;
					top: 50%;
					left: 50%;
					height: 100%;
					min-width: 100%;
					transition: all 250ms ease;
					transform: translate( -50%, -50% );
				}
			}

			.d-flex{
				position: relative;
				z-index: 1;
			}
		}
	}


	&.single-post{

		margin-bottom: 0px !important;
		
		.apply-btn{
			display: inline-block;
			border-bottom: 1px solid $opg-blue;
			font-family: $font-header;
			transition: all 250ms ease;
			@include font-size($s4-font-sizes);
		}

		.heading{
			max-width: 500px;
		}

		.sub-title{
			margin-top: 10px;
			font-size: 18px;
			color: $text-grey;

			@include media-breakpoint-up(md) {
				margin-top: 15px;
			}

			svg{
				display: inline;
				width: 14px;
				height: 14px;
				margin-right: 10px;

				path:not(:nth-of-type(2)){
					fill: $text-grey;
					background-color: $text-grey;
				}
			}
		}

		.image-container{
			width: 100%;
			margin-top: 30px;
			text-align: center;
			transition: all 250ms ease;

			@include media-breakpoint-up(md) {
				margin-top: 0px;
			}

			img{
				display: inline-block;
			}
		}

	}
}