.main-item-col{
	margin-bottom: 15px;

	@include media-breakpoint-up(sm) {
		margin-bottom: 30px;
	}
}

.main-item{
	height: 100%;
	min-height: 110px;
	background-color: $white;

	a{
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
		padding: 15px;
		overflow: hidden;
		transition: all 250ms ease;

		@include media-breakpoint-up(xl) {
			padding: 45px 15px;
		}
		@media screen and (min-width: 1600px ) {
		    padding: 60px 30px;
		}
	}

	.img-container{
		position: relative; 
		float: left;
		width: 60px;
		min-height: 50px;
		height: 100%;
		z-index: 1;
		transition: all 250ms ease;

		@media screen and (min-width: 420px ) {
			width: 100px;
		}
		@include media-breakpoint-only(sm){
			width: 45px;
		}
		@include media-breakpoint-between(md,lg){
			width: 60px;
		}

		img{
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 100%;
			max-height: 100%;
			transform: translate( -50%, -50% );
			z-index: 1;
		}

	}

	.content-container{
		position: relative;
		display: flex;
		float: left;
		padding-left: 15px;
		width: calc( 100% - 60px );
		height: 100%;
		flex-wrap: wrap;
		align-items: center;
		z-index: 2;
		transition: all 250ms ease;

		@media screen and (min-width: 420px ) {
			width: calc( 100% - 100px );
		}
		@include media-breakpoint-only(sm){
			width: calc( 100% - 45px );
		}
		@include media-breakpoint-between(md,lg){
			width: calc( 100% - 60px );	
		}
		@include media-breakpoint-up(xl) {
			padding-left: 30px;
		}
		@media screen and (min-width: 1600px ) {
		    padding-left: 45px;
		}

		.title{
			display: block;
			width: 100%;
			color: $black;
			
			@include font-size($strong-font-sizes); 

		}
		.title ~ .text {
			margin-top: 10px;
		}
		.text{
			display: block;
			width: 100%;
			color: $black;
			font-size: 12px;	
		}
	}

	&.document{
		.img-container{
			img{
				max-width: 50px;
				max-height: 50px;
			}
		}
	}

	&.course{
		.img-container{
			position: static; 

			img{
				width: 95px;
				top: auto;
				left: 15px;
				bottom: 20px;

				opacity: 0.3;

				max-width: none;
				max-height: none;
				transform: translate( 0%, 0% );

				@media(min-width: 420px ){
					left: 40px;
					width: 105px;
				}

				@include media-breakpoint-up(md) {
					width: 95px;
					top: auto;
					left: 15px;
					bottom: 20px;

					max-width: none;
					max-height: none;
					transform: translate( 0%, 0% );
				}

				@include media-breakpoint-up(xl) {
					left: 50px;
					bottom: 30px;
					width: 115px;
				}

				@media(min-width: 1600px ){
					left: 60px;
					bottom: 40px;
					width: 130px;
				}
			}
		}
	}

	&.entry{
		.content-container{
			width: 100%;
			padding: 0px;
			align-items: flex-start;
			
			> div{
				width: 100%;
			}

			.title{
				width: 100%;
				text-align: center;

				@include font-size($s4-font-sizes);
			}

			.title ~ .text{
				margin-top: 20px;

				@include media-breakpoint-up(lg) {
					margin-top: 30px;
				}
			}

			.text{
				text-align: center;
				@include font-size($p-font-sizes);
			}
		}
	}

	&.use-bg{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		a{
			padding: 30px 15px;
			
			@include media-breakpoint-up(sm) {
				padding: 45px 30px;
			}

			@include media-breakpoint-up(lg) {
				padding: 60px 30px;
			}
		}
		
		.bright-overlay{
			background-color: rgba( $white, 0.8 );
		}

		&:hover{
			.bright-overlay{
				background-color: rgba( $white, 1 );
			}
		}

		.img-container{
			display: none;
		}
	}
}