.selectize,
.selectize-container{

	.selectize-input{
		position: relative;
		min-width: 135px;
		border: 0px;
		padding: 5px;
		padding-right: 5px;
		color: $black;
		background: transparent !important;
		font-family: $font-header;
		font-size: 15px;
		box-shadow: none !important;

		@include media-breakpoint-up(xl) {
			min-width: 180px;
		}

		> input:first-child{
			width: 100% !important;
		}

		input::placeholder,
		.item{
			color: $black;
			font-family: $font-header;
			font-size: 15px;
		}

		@include media-breakpoint-up(lg) {
			padding-right: 25px;
		}
		@include media-breakpoint-up(xl) {
			input,
			.item{
				height: 20px;
			}
		}
		
		&:before{
			display: block;
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0px;
			max-width: 0%;
			width: 100%;
			height: 1px;
			background-color: $black;
			transition: all 250ms ease;
		}

		&:hover{
			&:before{
				max-width: 100%;
			}
		}

		&:after{
			display: block;
			content: "";
			position: absolute;
			top: 50% !important;
			right: 0px !important;
			width: 6px !important;
			height: 6px !important;
			margin-top: -3px;
			border: 0px !important;
			border-right: 2px solid $black !important;
			border-bottom: 2px solid $black !important;
			transform: rotate( 45deg ) translate( -50%, 50% ) !important;
		}
	}

	.selectize-dropdown{
		border: 0px !important;
		border-radius: 0px !important;
		
		.selectize-dropdown-content{

			.option{
				color: $black;
				padding: 15px 2px 15px 10px;
				transition: all 250ms ease;

				&.active{
					background-color: rgba( $opg-blue, 0.2 );
				}
			}
		}
	}
}

.selectize-control.multi{
	.selectize-input{
		width: auto;
    	max-width: 100%;
    	border-radius: 0px;
		
		& > input{
			padding: 7px 12px;

			@include media-breakpoint-up(sm){
				padding: 10px 15px;	
			}
		}

		&.has-items{
			padding: 5px;
			padding-right: 25px;

			@include media-breakpoint-up(lg) {
				padding-right: 25px;
			}
		}

		.item{
		    padding: 7px 12px;
		    margin: 0 5px 5px 0 !important;
		    border: 0px !important;
		    height: auto !important;
		    color: $black !important;
			background: $light-grey !important;
			border-radius: 0px !important;
			text-shadow: none !important;
			box-shadow: none !important;
			filter: none !important;
		    cursor: pointer !important;
		    font-family: $font-header !important;

		    @include media-breakpoint-up(sm){
		    	padding: 10px 15px;	
		    }
		}
	} 
} 