/*==============================================================================

	Global styles

  # Reset and standard styles
  # General classes
  # Fancybox
  # LazyLoad

==============================================================================*/

/*=======================================================
  # Reset and standard styles
=======================================================*/

html,
body{
	height: 100%;
	box-sizing: border-box;
}
body{
	padding: 15px 0px;
	overflow-x: hidden;
	font-weight: 300;

	&.show-menu,
	&.fancybox-active{
		overflow: hidden;
	}
	
	animation: fadeIn 1000ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.wrap{
	display: flex;
	width: 100%;
	min-height: calc( 100vh - 30px );
	flex-direction: column;

	.main{
		flex: 0 1 auto !important;
	}
}

@-moz-document url-prefix() {
	.wrap .main{
		flex: 1 !important;
	}
}

//These variables are also used in _intro-content.scss and _header.scss
$intro_padding_xs: 90px;
$intro_padding_lg: 180px;
$intro_padding_xl: 260px;

.main{
	padding-top: $intro_padding_xs;
	padding-left: 0px !important;
	padding-right: 0px !important;
	@include media-breakpoint-up(lg) {
		padding-top: $intro_padding_lg;
	}
	@include media-breakpoint-up(xl) {
		padding-top: $intro_padding_xl;
	}
}
.container-fluid{
	max-width: 1600px;
}

::-moz-selection{
	background: $color-main; 
	color: $white;	
}
::selection {
	background: $color-main; 
	color: $white;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px $white inset;
}
.alert.alert-warning{
	margin: 0px;
	border-radius: 0px;
}
a,
a:hover,
a:focus{
	color: $color-main;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
p, ul, li{
	margin: 0;
	padding: 0;
}
ul,
li{
	list-style: none;
}
img{
	max-width: 100%;
}

@include createIncrementClass( 'marg-bot', 'margin-bottom' );
@include createIncrementClass( 'marg-top', 'margin-top' );
@include createIncrementClass( 'pad-bot', 'padding-bottom' );
@include createIncrementClass( 'pad-top', 'padding-top' );

.pad-0{
	padding: 0px !important;
}
.marg-0{
	margin: 0px !important;
}
.float-right{ float: right !important; }
.float-left{ float: left !important; }
.float-none{ float: none !important; }
.text-center{ text-align: center !important; }
.text-left{ text-align: left !important; }
.text-right{ text-align: right !important; }
.text-underline{ text-decoration: underline !important; }
.text-italic{ font-style: italic !important; }
.text-uppercase{ text-transform: uppercase !important; }
.text-capitalize{ text-transform: capitalize !important; }
.pos-static{ position: static !important; }

#__lpform_s{
	display: none;
}

/*=======================================================
  # General classes
=======================================================*/

.section{
	position: relative;
	padding-top: 15px;
}
.box-shadow{
	box-shadow: 0px 2px 3px 0px rgba( $black, 0.27 );
}
.box-shadow-pink{
	box-shadow: 15px 15px 0px 0px $opg-pink;
}

.dark-overlay,
.bright-overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.dark-overlay{
	background-color: rgba( $black, 0.5 );

	&--hover{
		transition: all 250ms ease;
		@extend .dark-overlay;

		&:hover{
			background-color: rgba( $black, 0.7 );
		}
	}
}
.bright-overlay{
	background-color: rgba( $white, 0.5 );

	&--hover{
		transition: all 250ms ease;
		@extend .bright-overlay;

		&:hover{
			background-color: rgba( $white, 0.7 );
		}
	}
}

.change-page-load{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1000;
	transition: all 250ms ease;

	@extend .bright-overlay;

	img{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		transform: translate( -50%, -50% );
	}

	&.load-new{
		opacity: 1;
		z-index: 10001;
	}
}

.gradient-bg{
  background: $opg-blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $opg-blue, $opg-pink); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $opg-blue, $opg-pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $opg-blue, $opg-pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $opg-blue, $opg-pink); /* Standard syntax */
}


.divider{
	width: 100%;
	height: 1px;
	@extend .gradient-bg;
}

.cta-link{
	position: relative;
	display: inline-block;
	margin-right: 15px;
	color: $black;
	text-decoration: underline;
	cursor: pointer;
	font-family: $font-header;
	transition: all 250ms ease;
	@include font-size($s4-font-sizes);

	@include media-breakpoint-up(md){
		margin-right: 25px;	
	}

	&:hover{
		color: $black;
		text-decoration: underline;

		&:after{
			animation: cta_link_move 1s $cubic-bezier infinite;
		}
	}

	&:after{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		right: -20px;
		width: 6px;
		height: 6px;
		border-left: 1px solid $black;
		border-bottom: 1px solid $black;
		transform: translateY( -50% ) rotate( -135deg ) translate3d(0, 0, 0);
		transition: all 250ms ease;
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;

		@include media-breakpoint-up(md){
			width: 10px;
			height: 10px;
			right: -30px;
			border-left: 2px solid $black;
			border-bottom: 2px solid $black;	
		}
	}
}

@keyframes cta_link_move {
	0%,100% {
		margin-right: 0px;		
	}
	50%{
		margin-right: 10px;		
	}
}


.text-container{
	width: 100%;
	transition: all 250ms ease;

	.heading{
		display: inline-block;
		width: 100%;
		transition: all 250ms ease;
	}

	.text{
		display: inline-block;
		max-width: 400px;
		margin: 0px;
		text-align: left;
		transition: all 250ms ease;
	}

	.heading ~ .text{
		margin-top: 30px;
		transition: all 250ms ease;

		@include media-breakpoint-up(md){
			margin-top: 40px;
		}
	}

	&.columns{
		@include media-breakpoint-up(md){
			max-width: none;

			.text{
				max-width: none;
				column-count: 2;
				column-gap: 30px;
			}
		}

		@include media-breakpoint-up(lg){
			.text{
				column-gap: 60px;
			}	
		}

		@include media-breakpoint-up(xl){
			.text{
				column-gap: 100px;
			}	
		}
	}

	&.fullwidth{
		max-width: none;

		.text{
			max-width: none;
			width: 100%;

			p{
				width: 100%
			}
		}
	}
}

.post-content{
	
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;

	@include media-breakpoint-up(md) { 
		max-width: none;
	}
}

.post-content,
.text-container .text{
	ul,
	ol{
		display: block;   
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
		margin-bottom: 15px;
	}
	ul,
	ul li{
		list-style: none;
	}
	li {
		&:before {
			content:"\2022";
			color: $opg-blue;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
	ol,
	ol li{
		list-style: decimal;
	}
	h1, h2{
		@include font-size($s2-font-sizes);
		margin-bottom: 20px;
	}
	h3{
		@include font-size($s4-font-sizes);
		margin-bottom: 10px;
	}
	h4, h5, h6{
		@include font-size($strong-font-sizes); 
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 15px;
	}
	a{
		color: $opg-blue;
		text-decoration: underline;
	}
}

.icon{
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;

	&.search{
		&:before,
		&:after{
			position: absolute;
			display: block;
			content: "";
		}
		&:before{
			top: 0px;
			left: 0px;
			width: 80%;
			height: 80%;
			border: 2px solid $black;
			border-radius: 50%;
		}
		&:after{
			bottom: 1px;
			right: 1px;
			width: 44%;
			height: 2px;
			background-color: $black;
			border-radius: 0 2px 2px 0;
			transform-origin: 100% 50%;
			transform: rotate( 43deg ); 
		}
	}
}

.newsletter{
	display: inline-block;
	text-align: center;
	color: $black;
	font-size: 20px;
	font-family: $font-header;

	.form-row ~ .form-row {
		margin-top: 15px;
	}

	span{
		display: inline-block;
		width: 100%;
		font-family: $font-header;
		vertical-align: top;
		font-size: 18px;
		margin-bottom: 10px;

		@include media-breakpoint-up(md){
			width: auto;		
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0px;
		}
		@include media-breakpoint-up(xl) {
			padding-top: 7px;
			font-size: 25px;
		}

		padding-top: 7px;
		font-size: 25px;
	}

	form{
		display: inline-block;
	}

	.form-content{
		display: inline-block;
		width: 250px;
		text-align: left;
		margin: 0px 10px 20px 10px;
		transition: all 250ms ease;

		@include media-breakpoint-up(md) {
			margin: 0px 25px 20px 25px;
		}
		@include media-breakpoint-up(xl) {
			margin: 0px 40px 20px 40px;
		}
	}

	input[type="text"],
	input[type="email"]{
		width: 100%;
		max-width: 250px;
		font-size: 16px;
		padding: 10px 0px;
		color: $black;
		border-bottom: 1px solid $black;
		border-radius: 0px;
		font-family: $font-header;
		
		&::placeholder{
			color: $text-grey;
			font-family: $font-header;
		}
	}

	select{
		width: 100%;
		max-width: 250px;
		margin-top: 10px;
		padding: 10px 0px;
		border-bottom: 1px solid $black;
		border-radius: 0px;
		color: $text-grey;
		font-family: $font-header;
		font-size: 16px;
		outline: none !important;
		box-shadow: none !important;

		-webkit-appearance: none;
		-moz-appearance: none;

		option{
			color: $black;
		}
	}

	input[type="submit"],
	button{
		font-size: 18px;
		font-family: $font-header;
		margin-bottom: 20px;

		@extend .btn--blue;
	}

	br{
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	.checkbox {
		width: 100%;
		text-align: left;

		input[type="checkbox"] {
			position: relative;
			display: inline;
			margin-right: 5px;
			margin-bottom: -3px;
			width: 15px;
    		height: 15px;
    		z-index: 2;
		}

		span {
			position: relative;
			display: inline;
			width: auto;
			margin-bottom: 0px;
			color: $black;
			font-family: $font-main;
			z-index: 1;

			line-height: 1.6;
			font-size: 12px;
		}
	}
}

input[type="submit"].disabled {
	cursor: default !important;
}

.cookie-container{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 15px;
	color: $white;
	z-index: 999;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	box-shadow: 0px 0px 2px 0px rgba( $black, 0.4 );
	transition: all 350ms ease;

	&.hide{
		margin-bottom: -100%;
	}

	@extend .gradient-bg;

	p{
		display: inline-block;
		margin: 15px;
		font-size: 16px;
		font-weight: 300;
		color: $white;
	}
	a{
		font-size: 16px;
		font-weight: 300;
		color: $white;
		text-decoration: underline;
	}
	button{
		margin: 15px;
		margin-top: 0px;
	}
	@include media-breakpoint-up(md) {
		button{
			margin-top: 15px;
		}
		br{
			display: none;
		}
	}
}



.wpcf7{

	.wpcf7-form > div{
		margin-bottom: 40px;
		transition: all 250ms ease;

		@include media-breakpoint-up(lg) {
			margin-bottom: 60px;
		}
	}

	p{
		width: 100%;
		display: inline-block;
	}

	.wpcf7-form{
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;

		.col-12{
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
		}
	}

	.wpcf7-form-control-wrap{
		width: 100%;
		display: block;

		&.acceptance {
			display: inline;
			margin-right: 5px;
		}
	}

	span.wpcf7-list-item{
		margin: 0px 20px 0px 0px;
	}

	
	.selectize-container{
		width: 100%;
		border-bottom: 1px solid $grey;
		height: 33px;
		color: $black;
		font-size: $font-header;
		transition: all 250ms ease;

		@include media-breakpoint-up(md) {
			min-height: 38px;
		}

		svg{
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 14px;
			margin-bottom: 16px;

			path:not( :nth-of-type(2) ){
				fill: $grey;
				background-color: $grey;
			}
		}

		.selectize{
			display: inline-block;
			width: calc( 100% - 40px );
		}

		.selectize-control{
			min-height: 20px;

			&.multi{
				.selectize-input{
					.item{
						padding: 0px !important;
						font-family: $font-main !important;
					}
				}
			}
		}

		.selectize-input{
			width: 100% !important;
			min-height: 20px;
			padding: 0px 15px 15px 0px !important;
			border-radius: 0px !important;

			input{
				width: 100%;
				border-radius: 0px;
			}

			.item,
			input{
				display: inline-block;
				vertical-align: baseline;
				min-height: 20px;
				font-size: 15px;
				font-weight: 300;
				font-family: $font-main;
			}

			&:before{
				display: none;
			}

			&.after{
				top: 25% !important;
			}
		}

		.selectize-dropdown-content{
			padding-top: 5px;
		}
	}

	label{
		color: $black;
		font-size: 15px;
		font-weight: 300;
		font-family: $font-main;
		margin-bottom: 10px;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="phone"],
	textarea{
		width: 100%;
		border-bottom: 1px solid $grey;
		color: $black;
		font-size: 15px;
		font-weight: 300;
		font-family: $font-main;
		transition: all 250ms ease;
		border-radius: 0px;

		&::placeholder{
			color: $black;
		}
		
	}

	input[type="text"],
	input[type="email"],
	input[type="phone"],
	input[type="tel"]{
		padding: 0px;
		padding-bottom: 10px;
		transition: all 250ms ease;

		@include media-breakpoint-up(md) {
			padding-bottom: 15px;
		}

		&.wpcf7-not-valid{
			border-color: $opg-pink;
		}
	}

	textarea{
		width: 100%;
		max-height: 120px;
		height: 175px;
		padding: 15px 0px;
		border-top: 1px solid $grey;

		@include media-breakpoint-up(sm) {
			max-height: 175px;
		}

		@include media-breakpoint-up(md) {
			padding: 20px 0px;
		}

		@include media-breakpoint-up(lg) {
			padding: 25px 20px;
		}
	}

	input[type="submit"]{
		width: 100%;
		padding: 30px 15px !important;
		font-size: 18px;
		
		@extend .btn--blue;
	}

	.wpcf7-recaptcha{
		margin-bottom: 15px;

		> div{
			position: relative;
			width: 100% !important;
			height: 78px;
			transform: scale( 0.89 );
			transition: all 250ms ease;

			@include media-breakpoint-up(sm) {
				transform: scale( 0.82 );
			}

			@include media-breakpoint-up(md) {
				transform: scale( 0.94 );
			}

			@include media-breakpoint-up(lg) {
				transform: scale( 0.8 );
			}

			@include media-breakpoint-up(xl) {
				transform: scale( 0.77 );
			}

			@media(min-width: 1400px ){
				transform: scale( 0.92 );
			}

			@media(min-width: 1520px ){
				transform: scale( 1 );
			}

			iframe{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50% );
			}
		}

		& ~ .wpcf7-not-valid-tip{
			margin-bottom: 15px;
		}
	}

	.ajax-loader{
		display: none !important;
	}

	.wpcf7-response-output,
	.wpcf7-not-valid-tip{
		width: 100%;
		padding: 12px;
		margin-top: 10px;
		border-left: 10px solid $opg-pink;
		color: $black;
		background-color: $white;
		font-weight: 300;
		font-size: 12px;
		box-shadow: 1px 2px 5px 0px rgba( $black,0.17);
	}

	.wpcf7-response-output{
		width: calc( 100% - 30px );
		padding: 18px;
		margin: 0px;
		margin-left: 15px;
		border: 0px;
		border-left: 10px solid $opg-pink;

		&.wpcf7-mail-sent-ok{
			border-left: 10px solid $green;
		}
	}
}


/*=======================================================
  # Fancybox
=======================================================*/

.fancybox-bg{
	opacity: 0.7;
}

.fancy-modal{
	padding: 24px;

	@include media-breakpoint-up(md) {
		padding: 30px;
	}

	@include media-breakpoint-up(lg) {
		padding: 60px;
	}

	.heading{
		margin-bottom: 30px;
		transition: all 250ms ease;

		@include media-breakpoint-up(lg) {
			margin-bottom: 60px;
		}
	}
}

.animated-modal {
	max-width: 900px;
	width: 90%;
	border-radius: 4px;
	overflow: hidden;

	transform: translateY(-50px);
	transition: all .7s;
}

.animated-modal .heading,
.animated-modal .content {
	transform: translateY(-50px);
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal .heading,
.fancybox-slide--current .animated-modal .content {
	transform: translateY(0);
	opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal .heading {
	transition-delay: .1s;
}

.fancybox-slide--current .animated-modal .content {
	transition-delay: .3s;
}


/*=======================================================
  # LazyLoad
=======================================================*/

img.lazyload{
	display: block;
	min-height: 1px;
	opacity: 0;
	transition: all 250ms ease;

	&.loaded{
		opacity: 1;
	}
}