/*==============================================================================

	Save all typograhpy classes in this file so that everything is in one place

==============================================================================*/
/*=======================================================
  # Typogrpahy
=======================================================*/
// Ändra efter egna preferenser. andra värdet är line-heighten eg.  null  : (15px, 1.4)

$breakpoints: (
  xsmall  : 480px,
  small   : 576px,
  medium  : 768px,
  large   : 992px,
  xlarge  : 1200px
);

$p-font-sizes: (
  null    : (15px, 1.6),
);

$strong-font-sizes: (
  null    : (16px, 1.3),
);

$s4-font-sizes: (
  null    : (18px, 1.2),
  medium  : (25px, 1.2),
);

$s3-font-sizes: (
  null    : (18px, 1.2),
  small   : (25px, 1.2),
  medium  : (35px, 1.1),
);

$s2-font-sizes: (
  null    : (30px, 1.1),
  small   : (40px, 1 ),
  medium  : (45px, 1 ),
);

$s1-2-font-sizes: (
  null    : (40px, 1),
  small   : (50px, 1),
  medium  : (50px, 1 ),
  large   : (75px, 1 ),
  xlarge  : (90px, 1 ),
);

$s1-font-sizes: (
  null    : (40px, 1),
  small   : (60px, 1),
  medium  : (80px, 1 ),
  large   : (90px, 1 ),
  xlarge  : (100px, 1 ),
);


/*=======================================================
  # Typogrpahy
=======================================================*/

@font-face {
    font-family: 'eksell';
	  src: url('../fonts/ekselldisplaylarge-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/ekselldisplaylarge-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	       url('../fonts/ekselldisplaylarge-webfont.tff')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

$font-main:   'sofia-pro',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-header: 'eksell',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

*,
.font-main {
  font-family: $font-main;
}

.font-heading,
h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
}

p,
p a,
body,
.font-size-p {
  @include font-size($p-font-sizes);
}

a,
.btn{
  @include font-size($strong-font-sizes);  
}

.font-size-intro{
  @include font-size($s1-font-sizes);
}

.font-size-intro-office{
  @include font-size($s1-2-font-sizes);
}

h1, h2,
.font-size-1 {
  @include font-size($s2-font-sizes);
}

.font-size-2 {
  @include font-size($s3-font-sizes);
}

h3, h4, h5, h6
.font-size-3 {
  @include font-size($s4-font-sizes);
}
