// Grid settings
	$main-sm-columns:       12;
	$sidebar-sm-columns:    4;

/*=======================================================
  # Colors
=======================================================*/

	$white:       #fff;
  $black:       #000;
  $grey:        #AFAFAF;
  $light-grey:  #FAFAFA;
  $text-grey:   #c2c2c2;
  $green:       #27ae60;
  $red:         #e74c3c;
  $opg-blue:    #41B6E6;
	$opg-pink:    #fbc0a5;
  $bg-hover:    $light-grey;

	$color-main: $opg-blue;


  $cubic-bezier: cubic-bezier( .40,0,.60,1 );



/*=======================================================
  # Mixins
=======================================================*/

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}


// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}

// Mixin för vertical position (fyll i exv. absolute)
// EX @include vertical-align( relative );
@mixin vertical-align($position) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}


//Create margin and padding classes
//Steps up to 10 will jump 10px at a time
$steps: 30;
@mixin createIncrementClass( $class, $style ){
  @for $i from 0 through $steps {
    $size: $i*10;

    .#{$class}-#{$size} { 

      #{$style}: #{$size}px !important; 
      @if( $i > 10 ){
        @media(max-width: 575px ){
          #{$style}: 100px !important; 
        }
      }
      @if( $i > 20 ){
        @media(max-width: 991px ){
          #{$style}: 200px !important; 
        }
      }
    }
  }
}


//Create styles based on num of siblings
// EX @include styleBySiblings( 'paymentmethod', 6, 'max-width', 100, '%' );
@mixin styleBySiblings( $class, $max_num, $style, $max_value, $prefix ){
  .#{$class}:first-child:nth-last-child(1) {
    #{$style}: $max_value#{$prefix};
  }
  @for $i from 2 through $max_num {
    .#{$class}:first-child:nth-last-child( #{$i} ),
    .#{$class}:first-child:nth-last-child( #{$i} ) ~ .#{$class} {
      #{$style}: ( $max_value/$i )#{$prefix};
    }
  }
}