.load-more-container{
	position: relative;
	transition: all 250ms ease;

	&.hide{
		max-height: 0px;
		opacity: 0;
		transform: scale(0);
	}

	&.loading{
		.loading-animation{
			margin-bottom: 30px;

			.ele{
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}

	.loading-animation{
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-bottom: 0px;
		transition: all 250ms ease;

		.ele{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			opacity: 0;
			transform: translate(-50%, -50%) scale(0);
			transition: all 250ms ease;
		}
	}
}

.hide-submit{
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	opacity:0;	
}

.main-search{
	position: relative;
	width: 100%;

	input[type="text"]{
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid $black;
		color: $black;
		font-size: 26px;
		line-height: 1;
		font-weight: 300;
		font-style: italic;

		background-image: none !important;

		@include media-breakpoint-up(md){
			font-size: 32px;
			padding-right: 165px;
		}
		@include media-breakpoint-up(lg){
			font-size: 42px;
			padding-bottom: 15px;
		}

		&::placeholder{
			color: $text-grey;
			font-size: 26px;
			line-height: 1;
			font-weight: 300;
			font-style: italic;

			@include media-breakpoint-up(md){
				font-size: 32px;	
			}
			@include media-breakpoint-up(lg){
				font-size: 42px;				
			}
		} 
	}

	.instructions{
		display: none;
		position: absolute;
		top: 0px;
		right: 0px;
		color: $text-grey;
		font-family: $font-header;
		height: 56px;
		line-height: 56px;

		@include media-breakpoint-up(md){
			display: block;	
		}
		@include media-breakpoint-up(lg){
			height: 76px;
			line-height: 76px;	
		}
	}
}

.search-filter{
	position: relative;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 0px;
	transition: all 250ms ease;

	@include media-breakpoint-up(lg) {
		margin-bottom: 40px;
	}

	& > * {
		font-size: initial;
	}
	
	.num-of-results{
		display: block;
		width: 100%;
		text-align: center;
		color: $text-grey;
		margin-bottom: 20px;
		transition: all 250ms ease;

		@media(min-width: 1250px ){
			margin-bottom: -23px;
		}
	}

	.settings-btn{
		position: relative;
		display: block;
		width: 200px;
		margin: 0 auto;
		color: $text-grey;
		padding-right: 25px;
		margin-bottom: 20px;
		cursor: pointer;

		@include media-breakpoint-up(lg) {
			display: none;
		}

		&:after{
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			right: 12.5px;
			width: 6px;
			height: 6px;
			border-right: 2px solid $text-grey;
    		border-bottom: 2px solid $text-grey;
    		transition: all 250ms ease;
			transform: translate( 50%, -50% ) rotate( 45deg );
		}

		&.open:after{
			transform: translate( 50%, -50% ) rotate( -135deg );
		}
	}

	.settings-container{
		display: none;

		@include media-breakpoint-up(lg) {
			display: block !important;
		}
	}

	.radio-container{
		display: block;
		width: 100%;
		text-align: center;
		vertical-align: top;

		@include media-breakpoint-up(sm) {
			font-size: 0px;
		}

		@include media-breakpoint-up(md){
			width: 50%;	
			float: right;
			text-align: right;
		}

		.radio-btn{
			display: inline-block;
			padding: 0px 15px;

			@include media-breakpoint-up(sm) {
				width: 50%;
				font-size: 0px;
				text-align: left;

				& > * {
					font-size: initial;
				}

				&:nth-child( odd ){
					text-align: right;
				}
			}	

			@include media-breakpoint-up(md){
				width: auto;
				padding: 0px;

				&:not( :first-of-type ){
					padding-left: 20px;
				}
			}

			@include media-breakpoint-up(xl){
				margin-top: 2px;	

				&:not( :first-of-type ){
					padding-left: 30px;
				}
			}		
		}

		.radio-value{
			display: inline-block;
			position: relative;
			font-family: $font-header;
			color: $text-grey;
			padding: 2px 2px 2px 15px;
			text-decoration: underline;
			text-decoration-color: transparent;
			cursor: pointer;
			transition: all 250ms ease;

			@include media-breakpoint-up(lg){
				padding-left: 30px;
			}

			&:hover,
			&.choosen{
				color: $opg-blue;
				text-decoration-color: $opg-blue;

				&:before{
					border-color: $opg-blue;
				}
			}
			&.choosen:after{
				opacity: 1;
				transition: all 250ms ease;
				transform: translateY(-50%) rotate(-50deg) scale(1);
			}	

			&:before,
			&:after{
				display: block;
			    content: "";
			    position: absolute;
			    top: 50%;
			    left: 0px;
			    transition: border-color 250ms ease;
			}
			&:before{
				width: 10px;
			    height: 10px;
			    border: 1px solid $text-grey;
			    transform: translateY(-50%);
			}
			&:after{
			    width: 10px;
			    height: 6px;
			    border: 1px solid $opg-blue;
			    border-width: 0 0 2px 2px;
			    transform: translateY(-50%) rotate(-50deg) scale(0);
			    margin-top: -3px;
			    margin-left: 2px;
			    opacity: 0;
			    transition: 0ms;
			}
		}
	}

	.dropdown-container{
		display: block;
		width: 100%;
		vertical-align: top;
		text-align: center;
		margin-top: 15px;

		@include media-breakpoint-up(sm) {
			font-size: 0px;
		}
		@include media-breakpoint-up(md){
			float: left;
			width: 50%;
			margin-top: 0px;
			text-align: left;
		}

		.selectize-container{
			display: inline-block;
			width: 100%;
			margin-bottom: 10px;

			@include media-breakpoint-up(sm) {
				width: 50%;
				font-size: 0px;
				text-align: right;
				padding-right: 15px;

				& > *{
					font-size: initial;
				}
			}

			@include media-breakpoint-only(sm) {
				&:nth-child( even ){
					padding-right: 0px;
					padding-left: 15px;
					text-align: left;
				}
			}

			@include media-breakpoint-up(md) {
				width: auto;

				&:last-of-type{
					padding-right: 0px;
				}
			}

			@include media-breakpoint-up(lg) {
				&:not( :last-of-type ){
					padding-right: 20px;
				}
			}

			@include media-breakpoint-up(xl) {
				&:not( :last-of-type ){
					padding-right: 30px;
				}
			}

			.selectize-dropdown-content{
				text-align: left;
			}

			.selectize-input{
				padding: 5px 0px;
				min-width: 232px;

		    	@include media-breakpoint-up(sm) {
		    		min-width: 150px;
		    	}

		    	@include media-breakpoint-up(lg) {
		    		&:after{
		    			right: 5px;
		    		}
		    	}

				input[type="text"]{
					width: 100%!important;
					color: $black;
					@include font-size($strong-font-sizes);
				}
				.item{
					display: none;
				}
			}
		}
	}
}

.filter-values{
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
	
	@include media-breakpoint-up(md) {
		margin-top: 20px;
	}
	
	@include media-breakpoint-up(lg){
		float: left;
	}

	.filter-item{
		position: relative;
		float: left;
		margin: 0px 10px 10px 0px;
		padding: 10px 20px;
		padding-right: 35px;
		max-width: 300px;
		background-color: $light-grey;
		color: $black;
		cursor: pointer;
		@include font-size($p-font-sizes);
		transition: all 250ms ease;
		opacity: 1;
		transform: scale(1) translate3d(0);

		&.city{
			background-color: $text-grey;
		}

		&.hide{
			opacity: 0;
			transform: scale(0) translate3d(0);
			max-width: 0px;
			font-size: 0px;
			margin: 0px;
			padding: 0px;

			&:after{
				transform: translate( 50%, -50% ) rotate( 45deg ) scale(0);
			}
			&:before{
				transform: translate( 50%, -50% ) rotate( -45deg ) scale(0);
			}
		}

		&:after,
		&:before{
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			right: 15.5px;
			width: 8px;
			height: 2px;
			background-color: $black;
			transform: scale(1) translate3d(0);
			transition: all 250ms ease;
		}
		&:after{
			transform: translate( 50%, -50% ) rotate( 45deg ) scale(1);
		}
		&:before{
			transform: translate( 50%, -50% ) rotate( -45deg ) scale(1);
		}
	}
}

.section__vacant-jobs,
.section__documents,
.section__courses{
	margin-bottom: 100px;

	@include media-breakpoint-up(sm){
		margin-bottom: 150px;	
	}
	@include media-breakpoint-up(xl){
		margin-bottom: 200px;		
	}
}

.archive-nav{
	margin-top: 40px;
	margin-left: -5px;
	margin-right: -5px;
	transition: all 250ms;

	@include media-breakpoint-up(md) {
		margin-top: 60px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 80px;
	}

	nav{
		display: inline-block;
		width: auto;
	}

	.page-numbers{
		color: $black;
		margin: 2px 5px;
		transition: all 250ms ease;


		&.current{
			text-decoration: underline;
		}
	}
	
	a:hover{
		color: $opg-blue;
		text-decoration: underline;
	}
}

.search-item{
	overflow: hidden;
	margin-bottom: 50px;

	.img-container{
		position: relative;
		float: left;
		width: 80px;
    	height: 0;
    	padding-bottom: 52px;
    	overflow: hidden;
    	transition: all 250ms ease;

    	@include media-breakpoint-up(sm) {
			width: 200px;
			padding-bottom: 130px;
		}

    	img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
    	}
	}

	.content-container{
		float: left;
		width: calc( 100% - 80px );
		padding-left: 15px;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			width: calc( 100% - 200px );
			padding-left: 30px;
		}

		.heading{
			font-size: 20px;
			@include font-size($s4-font-sizes);
			color: $black;

		}

		.sub-heading{
			color: $text-grey;
		}

		.excerpt{
			margin-top: 5px;
			color: $black;
			font-size: 14px;

			max-width: 400px;

			a{
				color: $black;
			}

			.text-link{
				display: none;
			}
		}
	}

	&.document{
		img{
			width: 50px;
		}
	}

	&.vacant-job,
	&.course{
		img{
			max-width: 80%;
		}
	}

	&.coworker{
		img{
			max-height: 100%;
		}
	}
}