.section__latest-post{

	.latest-post{
		background-color: $light-grey;
		padding: 80px 15px;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			padding: 100px 15px;
		}

		@include media-breakpoint-up(lg) {
			padding: 120px 0px;
			border-left: 15px solid $white;
			border-right: 15px solid $white;
		}

		.image-container{
			display: flex;
			height: 100%;
			margin-bottom: 30px;
			text-align: center;
			justify-content: center;
			align-items: center;
			transition: all 250ms ease;

			@include media-breakpoint-up(lg) {
				margin-bottom: 0px;
			}

			> a{
				width: 100%;
			}

			img{
				display: inline-block;
			}
		}

		.content-col{
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
		}

		.blog-item{
			display: inline-block;
			width: 100%;
			max-width: 300px;
			margin-bottom: 0px;
		}

		.small-heading{
			color: $black;
			margin-bottom: 20px;
			transition: all 250ms ease;

			@include media-breakpoint-up(sm) {
				margin-bottom: 30px;
			}

			@include media-breakpoint-up(xl) {
				margin-bottom: 40px;
			}
		}
	}
}

.section__posts{
	.item-feed{
		margin-left: -15px;
		margin-right: -15px;
	}

	.blog-item{
		@include media-breakpoint-up(sm) {
			width: 50%;
			max-width: 50%;
		}

		@include media-breakpoint-up(md) {
			width: 33.33%;
			max-width: 33.33%;
		}
		
		&--large{
			@include media-breakpoint-up(md) {
				width: 66.66%;
				max-width: 66.66%;

			}

			@include media-breakpoint-up(xl) {
				.img-container{
					padding-bottom: calc( 40% - 15px );
				}
			}
		}
	}
}