.footer{
	padding: 50px 0px;
	text-align: center;

	@include media-breakpoint-up(md) {
		padding-top: 80px;
		text-align: left;
	}
	@include media-breakpoint-up(lg) {
		padding: 100px 0px 70px;
	}

	.logo{
		display: inline-block;
		max-height: 90px;
		height: 100%;
		width: auto;
		margin-bottom: 40px;
	}

	.footer-text{
		margin-bottom: 50px;
		font-size: 13px;

		@include media-breakpoint-up(md) {
			margin-bottom: 0px;
		}

		.text{
			text-align: center;

			@include media-breakpoint-up(md) {
				margin-bottom: 0px;
				text-align: left;
			}
		}
	}

	.divider{
		margin: 40px 0px;

		@include media-breakpoint-up(md) {
			margin: 60px 0px;
		}
		@include media-breakpoint-up(lg) {
			margin: 100px 0px 60px 0px;
		}
	}
	
	.social-media{
		width: 100%;
		overflow: hidden;
		margin-top: 40px;
		text-align: center;

		@include media-breakpoint-up(md) {
			margin: -10px;
			text-align: right;
		}
		@include media-breakpoint-up(lg) {
			margin-top: -5px;
		}
		@include media-breakpoint-up(xl) {
			margin: -5px -20px -10px;
		}

		&__icon{
			display: inline-block;
			width: 20px;
			margin: 10px;
			transition: all 250ms ease;
			
			@include media-breakpoint-up(md) {
				margin: 5px;
			}

			@include media-breakpoint-up(xl) {
				margin: 10px 15px;
			}
		}
	}

	.newsletter {
		form {
			width: 100%;
			max-width: 460px;
		}

		.form-row ~ .form-row {
			margin-top: 0px;
			padding-left: 10px;
			padding-right: 5px;
			max-width: 400px;

			@include media-breakpoint-up(md) {
				padding-left: 25px;
			}

			@include media-breakpoint-up(xl) {
				padding-left: 40px;
				max-width: 460px;
			}
		}
	}

}

.link-groups{
	overflow: hidden;

	@include media-breakpoint-up(md) {
		text-align: right;
	}

	.clearfix{
		@media (min-width: 400px) and (max-width: 881px){
			&:nth-child( 4n+2 ){
				display: none;
			}
		}
		@media (min-width: 882px ) and (max-width: 991px){
			&:nth-child( 6n+2 ){
				display: none;
			}
			&:nth-child( 6n+4 ){
				display: none;
			}
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	.link-group{
		float: left;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
		vertical-align: top;
		overflow: hidden;

		@media(min-width: 400px ){
			width: 50%;
		}

		@media(min-width: 882px ){
			width: auto;
			float: none;
			display: inline-block;
			margin-left: 15px;
			padding-left: 15px;
			text-align: left;
		}
		@include media-breakpoint-up(xl) {
			margin-left: 60px;
		}

		.heading{
			margin-bottom: 10px;
		}
		
		li{
			width: 100%;
			margin-bottom: 8px;
		}
		.link{
			color: $black;
			border-bottom: 1px solid $black;
			line-height: 1.1;
			transition: all 400ms ease;

			&:hover{
				color: $text-grey;
				border-color: $text-grey;
			}

		}
	}
}

.footer-small-nav{
	text-align: center;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 40px;
	margin-bottom: -40px;
	transition: all 250ms ease;

	@include media-breakpoint-up(md) {
		text-align: left;	
	}

	@include media-breakpoint-up(lg) {
		margin-top: 60px;
		margin-bottom: -60px;
	}

	.link{
		display: inline-block;
		margin: 5px;
	}
	a{
		font-size: 12px;
		font-weight: 300;
		color: $text-grey;
		font-family: $font-main;

		&:hover{
			text-decoration: underline;
		}
	}
}