
.banner{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 0px 15px;
	margin-top: 0px;
	box-shadow: 0px 0px 5px 0px rgba( $black, 0.4 );
	background-color: $white;
	z-index: 10000;
	transition: margin 400ms ease, box-shadow 250ms ease;

	@include media-breakpoint-up(lg) {
		background-color: transparent;
		box-shadow: none;
		border-top: 15px solid $white;
	}


	&.fixed{
		position: fixed;
		margin-top: -90px;

		@include media-breakpoint-up(md) {
			margin-top: -105px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: -135px;
		}
		@include media-breakpoint-up(xl) {
			margin-top: -165px;
		}
	
		> .alert {
			display: none;
		}

		&.show-banner{
			margin-top: 0px;

			> .alert {
				display: block;
			}
		}
	}

	.logo-container{
		position: relative;
		float: left;
		width: auto;
		padding: 15px 0px;
		background-color: $white;

		@include media-breakpoint-up(md) {
			padding: 15px;
		}
		@include media-breakpoint-up(lg) {

			padding: 20px 45px;

			&:after{
				display: block;
				content: "";
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: calc( 100% - 3px );
				height: calc( 100% - 3px );
				z-index: -1;
				box-shadow: 0px 0px 2px 0px rgba( $black, 0.4 );
				transition: all 250ms ease;
			}
		}
		@include media-breakpoint-up(xl) {
			padding: 35px 80px;
		}

		img{
			// Fixed height and width is used because of problems with svg in IE
			height: auto;
			width: 122px;
			margin-top: 10px;
			transition: all 250ms ease;
			
			@include media-breakpoint-up(md){
					
			}

			@include media-breakpoint-up(lg) {
				height: auto;
				width: 170px;
				margin-top: 0px;
			}
		}
	}

	.header-nav{
		position: relative;
		float: right;
		width: auto;
		padding: 35px 0px 15px 15px;
		background-color: $white;

		@include media-breakpoint-up(md) {
			padding: 35px 15px 15px;
		}
		@include media-breakpoint-up(lg) {	
			padding: 40px 30px 40px 45px;	
			
			&:after{
				display: block;
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: calc( 100% - 3px );
				height: calc( 100% - 3px );
				z-index: -1;
				box-shadow: 0px 0px 2px 0px rgba( $black, 0.4 );
				transition: all 250ms ease;
			}
		}
		@include media-breakpoint-up(xl) {
			padding: 55px 60px 55px 60px;
		}


		.small-nav{
			position: absolute;
			top: 5px;
			right: 0px;
			min-width: 150px;
			transition: all 250ms ease;
			text-align: right; 
			white-space: nowrap;
			z-index: 1020;

			@include media-breakpoint-up(md) {
				right: 15px;
			}
			@include media-breakpoint-up(lg) {
				right: 30px;
			}

			a{
				display: inline-block;
				font-size: 10px;
				padding: 5px;
			 	text-transform: uppercase;
			 	font-weight: 300;
			 	color: $text-grey;
			 	line-height: 1;
				transition: all 100ms ease;

				@include media-breakpoint-up(lg) {
					font-size: 12px;
				}

			 	&.current,
			 	&:hover{
					color: $opg-blue;
			 	}
			}

			.my-pages{
				position: relative;
				display: inline-block;
				margin-right: 15px;
				vertical-align: baseline;

				@include media-breakpoint-up(lg) {
					margin-right: 25px;
				}

				&__dropdown{
					position: absolute;
					top: calc( 100% + 5px );
					left: 50%;
					padding: 10px 15px;
					background-color: $opg-blue;
					opacity: 0;
					transform-origin: center top;
					transform: translateX( -50% ) scale( 0 ) translate3d(0, 0, 0);
					transition: all 250ms ease,
								transform 0s linear 250s;

					@include media-breakpoint-up(md) {
						padding: 15px 20px;
					}

					&:before{
						display: block;
						content: "";
						position: absolute;
						bottom: 100%;
						left: 50%;
						width: 0; 
						height: 0; 
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid $opg-blue;
						transform: translateX( -50% ) translate3d(0, 0, 0);
					}

					&.open{
						opacity: 1;
						transform: translateX( -50% ) scale( 1 ) translate3d(0, 0, 0);
						transition: all 250ms ease,
									transform 0s linear 0s;
					}


					.dropdown-link{
						color: $white;
						text-decoration: underline;
						font-size: 13px;
					}
				}
			}

			.lang-selector{
				display: inline-block;
				vertical-align: baseline;
				margin: -5px;

				.lang{
					float: left;
					line-height: 1;

					&:not( :first-of-type ){
						margin-left: 10px;

						@include media-breakpoint-up(lg) {
							margin-left: 15px;
						}
					}
				}
			}
		}

		.search-box{
			position: absolute;
			right: 55px;
			width: 100vw;
			max-width: 26px;
			padding: 0px 30px 0px 0px;
			margin-top: -20px;
			overflow: hidden;
			transition: all 400ms ease;
			z-index: 1010;
			
			@include media-breakpoint-up(sm) {
				max-width: 30px;
			}

			@include media-breakpoint-up(md) {
				width: 100%;
				right: 70px;
				margin-top: -15px;			
			}

			@include media-breakpoint-up(lg) {
				right: 85px;
			}

			@include media-breakpoint-up(xl) {
				right: 100px;
			}

			.input-container{
				float: left;
				width: 100%;
				height: 60px;
				padding-left: 0px;
				background-color: $white;
				transition: all 400ms ease;
			}

			input{
				width: 100%;
				height: 60px;
				padding: 15px 0px;
				font-size: 20px;
				font-weight: 300;
				color: $black;
				overflow: hidden;
				transition: all 400ms ease;

				@include media-breakpoint-up(lg) {
					font-size: 25px;
				}
				
				&::-ms-input-placeholder,
				&::placeholder{
					color: $text-grey;
				}
			}

			.icon.search{
				position: absolute;
				top: 50%;
				right: 0px;
				font-size: initial;
				cursor: pointer;
				width: 26px;
				height: 26px;
				transform: translateY( -50% );
				background-color: $white;

				@include media-breakpoint-up(md) {
					width: 30px;
					height: 30px;
				}
			}
		}

		.menu-btn{

		}

		&.show-search{
			.selectize-container,
			.menu-btn,
			.small-nav{
				opacity: 0;
			}

			.search-box{
				max-width: 100vw;
				padding-left: 30px;
				margin-right: -55px;

				@include media-breakpoint-up(md) {
					max-width: 100%;
					padding-left: 0px;
				}

				@include media-breakpoint-up(lg) {
					padding-left: 45px;
				}

				@include media-breakpoint-up(xl) {
					padding-left: 60px;
					margin-right: -70px;
				}

				input{
					padding: 15px 20px;
				}
			}
		}
	}
}


.banner,
.main-nav{

	select{
		min-width: 100px;
		transition: all 250ms;
	
		@include media-breakpoint-up(lg) {
			min-width: 140px;
		}

		@include media-breakpoint-up(xl) {
			min-width: 180px;
		}
	}

	.selectize-container{
		transition: all 250ms ease;

		svg{
			float: left;
			display: block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			margin-top: 5px;

			@include media-breakpoint-up(lg) {
				margin-right: 10px;
			}
			@include media-breakpoint-up(xl) {
				margin-right: 15px;
				margin-top: 7px;
			}

			path:not( :nth-of-type(2) ){
				fill: $grey;
				background-color: $grey;
			}
		}
		.selectize{
			float: left;
		}
	}
}
.banner .selectize-container{
	display: none;
	margin-right: 15px;

	@include media-breakpoint-up(md) {
		display: block;
	}
	@include media-breakpoint-up(lg) {
		margin-right: 30px;
	}
	@include media-breakpoint-up(xl) {
		margin-right: 45px;
	}
}
.main-nav .select-row{
	margin-top: 30px;
	width: 100%;
	text-align: center;

	@include media-breakpoint-up(md) {
		display: none;
	}

	.selectize-container{
		display: inline-block;
		width: auto;
		text-align: left;

		svg{
			width: 18px;
			height: 18px;
			margin-right: 12px;
			margin-top: 3px;
		}

		.selectize-input{
			padding-right: 35px;
			min-width: 150px;


			.item{
				font-size: 25px;
			}

			&:after{
				margin-top: -8px !important;
				width: 8px !important;
    			height: 8px !important;
    			border-width: 2px !important;
			}
		}
	}
}




.main-nav{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: $white;
	z-index: 9999;
	overflow-y: auto;
	transition: all 400ms ease-in;
	transform: translateY( -100% );

	padding-top: $intro_padding_xs;
	@include media-breakpoint-up(lg) {
		padding-top: $intro_padding_lg;
	}
	@include media-breakpoint-up(xl) {
		padding-top: $intro_padding_lg;
	}

	.container-fluid{
		overflow-y: auto; 

		> * {
			padding-bottom: 100px;
		}
	}

	.menu-content{
		width: 100%;
		max-height: 100%;
		text-align: center;
		font-size: 0px;
		overflow-y: auto;

		> * {
			font-size: initial;
		}
	}

	.menu{
		display: inline-block;
		width: 100%;
		padding-top: 20px;
		text-align: center;
		vertical-align:top;
		transition: all 250ms ease;

		@include media-breakpoint-up(sm) {
			padding-top: 40px;
		}

		@include media-breakpoint-up(md) {
			padding-top: 60px;
		}

		@include media-breakpoint-up(lg) {
			padding-top: 80px;
		}

		.menu-inner{
			display: inline-block;
			
			@include media-breakpoint-up(sm) {
				text-align: left;

			}
		}

		&:only-of-type{
			.menu-inner{
				@include media-breakpoint-up(sm) {
					text-align: center;
				}
			}
		}

		.menu-item{
			float: left; 
			margin-right: 30px;

			@include media-breakpoint-down(sm) {
					text-align: center;
					float: none;
					margin-right: 0;
				}

			&:last-child {
				margin-right: 0;
			} 
			a{
				display: inline-block;
				margin-bottom: 15px;
				color: $black;
				font-family: $font-header;
				font-size: 36px;
				text-decoration: underline;
			}
		}

		.secondary{
			.menu-item{
				a{
					display: inline-block;
					margin-bottom: 20px;
					font-family: $font-main;
					font-size: 18px;
					text-decoration: underline;
				}
			}
		}
	}

	.social-media{
		width: 100%;
		overflow: hidden;
		margin-top: 40px;
		text-align: center;
		transition: all 250ms ease;
		
		@include media-breakpoint-up(sm) {
			margin-top: 60px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 120px;
		}

		&__icon{
			display: inline-block;
			width: 20px;
			margin: 10px;

			@include media-breakpoint-up(xl) {
				margin: 10px 15px;
			}
		}
	}
}

.show-menu{
	.banner{
		transition: all 250ms ease;
		margin-top: 0px !important;
		box-shadow: 0px 0px 0px 0px rgba( $black, 0 );
	}
	.logo-container:after,
	.header-nav:after{
		box-shadow: 0px 0px 0px 0px rgba( $black, 0 );
	}
	.main-nav{
		transform: translateY( 0% );
		transition: all 400ms ease-out;
	}
}