
//Center contactdetalis in mobile on the contact-pages
#kontaktuppgifter.section__information_block{
	.text-container .text{
		text-align: center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
}