/*==============================================================================

  # single
  # posts
  # vacant-jobs
  # document
  # coworker


==============================================================================*/

/*=======================================================
  # single
=======================================================*/

.section__content{

  margin-bottom: 60px;
  transition: all 250ms ease;

  @include media-breakpoint-up(sm) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 120px;
  }

}

.section__meta{
  .meta-box-col,
  .apply-container{
    margin-bottom: 100px;
    transition: all 250ms ease;

    @include media-breakpoint-up(sm) {
      margin-bottom: 140px;
    }
  }

  .contact-col{
    margin-bottom: 40px;
    transition: all 250ms ease;

    @include media-breakpoint-up(sm) {
      margin-bottom: 80px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 120px;
    }
  }
}

.meta-box{
  width: 100%;
  overflow: hidden;
  border: 1px solid $text-grey;

  .meta-item{
    width: 100%;
    float: left;
    padding: 30px 15px;
    text-align: center;

    @include media-breakpoint-down(xs) {
      &:not( :last-of-type ){
        border-bottom: 1px solid $text-grey;
      }
    }

    @include media-breakpoint-up(sm) {
      width: 50%;
      border-bottom: 1px solid $text-grey;

      &:nth-last-child(1),
      &:nth-last-child(2){
        border-bottom: 0px;
      }

      &:nth-child(odd){
        border-right: 1px solid $text-grey;
      }
    }

    a{
      color: $black;
      text-decoration: underline;
    }
  }

  &.single-col{
    .meta-item{
      width: 100% !important;
      border-right: 0px solid $text-grey;

      @include media-breakpoint-up(sm) {
        &:nth-last-child(2){
          border-bottom: 1px solid $text-grey;
        }
        &:not( :last-of-type ){
          border-bottom: 1px solid $text-grey;
        }
      }
    }
  }

  .meta-info{

    @include media-breakpoint-up(md) {
      margin-top: 10px;
    }

    b{
      display: inline-block;
    }
  }
}

/*=======================================================
  # posts
=======================================================*/





.section__content__post{
  margin-top: -110px;
  transition: all 250ms ease;

  @include media-breakpoint-up(lg) {
    margin-top: -180;
  }
  @include media-breakpoint-up(xl) {
    margin-top: -200px;
  }
  
  .post-content{
    max-width: 650px;
    margin-left: 0px;
    margin-bottom: 80px;
    transition: all 250ms ease;

    @include media-breakpoint-up(md) {
      margin-bottom: 0px;
    }
  }

  .main-image{
    margin-bottom: 60px;
    transition: all 250ms ease;

    @include media-breakpoint-up(sm) {
      margin-bottom: 80px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 120px;
    }
  }

  .social-media-meta{
    display: inline-block;
    width: auto;

    @include media-breakpoint-up(md) {
      width: 100%;
    }

    &--icon{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 5px;
      margin-bottom: 0px;
    }
  }
}

/*=======================================================
  # vacant-jobs
=======================================================*/

.post-content.vacant-job{
  transition: all 250ms ease;

  @include media-breakpoint-up(lg) {
    column-count: 2;
    column-gap: 30px;
  }

  @include media-breakpoint-up(xl) {
    column-gap: 120px;
  }

  strong{
    display: inline-block;
    margin: 40px 0px 10px;
    font-family: $font-header;
    @include font-size($s4-font-sizes);
  }
}

.apply-popup,
.no-popup {
  position: relative;
  display: inline-block;

  &__dropdown{
    position: absolute;
    top: calc( 100% + 8px );
    left: 0px;
    width: 430px;
    max-width: calc( 100vw - 45px );
    padding: 30px 45px;
    background-color: $opg-blue;
    color: $white;
    transform-origin: left top;
    opacity: 0;
    transform: scale( 0 ) translate3d(0, 0, 0);
    transition: all 250ms $cubic-bezier,
                transform 0s linear 250s;
    z-index: 15;

    @include media-breakpoint-up(md) {
      width: 450px;
      padding: 60px;
    }
    
    .content{
      display: inline-block;
      margin-bottom: 10px;
      text-align: center;
    }

    .links{
      .btn{
        width: 100%;
        margin-top: 20px;
        text-align: center;
      }
    }

    &:before{
      display: block;
      content: "";
      position: absolute;
      bottom: 100%;
      left: 15px;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $opg-blue;
    }

    &.align-right{
      left: auto;
      right: 0px;
      text-align: left;
      transform-origin: right top;
      transform: scale( 0 ) translate3d(0, 0, 0);

      &:before{
        left: auto;
        right: 15px;
      }
    }

    &.open{
      opacity: 1;
      transform: scale( 1 ) translate3d(0, 0, 0);
      transition: all 250ms $cubic-bezier,
                  transform 0s linear 0s;
    }
  }
}

.apply-popup,
.no-popup {
  margin-bottom: 40px;
  transition: all 250ms ease;

  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
  }
}

.apply-container{
  width: 100%;
  text-align: right;
  position: relative;

  .apply-popup{
    margin-bottom: 0px;
  }

  &:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: $text-grey;
    transfrom: transalteY( -50% );
    z-index: -1;
  }

  .apply-btn{
    display: inline-block;
    padding-left: 30px;
    background-color: $white;
    text-decoration: underline;
    font-family: $font-header;
    transition: all 250ms ease;
    @include font-size($s3-font-sizes);

    @include media-breakpoint-up(sm) {
      padding-left: 60px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 100px;
    }
  }
}


/*=======================================================
  # document
=======================================================*/

.download-container{
  display: flex;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease;

  @include media-breakpoint-up(md) {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
    justify-content: flex-end;
  }

  .download-link{
    padding: 50px 80px;
    border: 1px solid $text-grey;
    transition: all 250ms ease;

    @include media-breakpoint-up(md) {
      margin-top: 60px;
      padding: 60px 50px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      padding: 70px 90px;
    }

    img{
      display: inline-block;
      margin-right: 15px;
      height: 30px;
      vertical-align: middle;
    }

    span{
      display: inline-block;
      text-decoration: underline;
      font-family: $font-header;
      font-size: 25px;
      line-height: 1.2;
      vertical-align: middle;
      transition: all 250ms ease;
    }
  }
}


/*=======================================================
  # coworker
=======================================================*/

.section__content__coworker{

  .post-content ~ .meta-box{
    margin-top: 70px;
  }
}