body#tinymce {
	height: auto !important;
  	margin: 12px !important;
  	background-color: #fff !important;
  	color: #000 !important;

  	ul,
	ol{
		display: block;   
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 40px;
	    margin-bottom: 15px;
	}
	ul,
	ul li{
		list-style: disc;
	}
	ol,
	ol li{
		list-style: decimal;
	}
	h1, h2{
		@include font-size($s2-font-sizes);
		margin-bottom: 20px;
	}
	h3{
		@include font-size($s4-font-sizes);
		margin-bottom: 10px;
	}
	h4, h5, h6{
		@include font-size($strong-font-sizes); 
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 15px;
	}
	a{
		color: $opg-blue;
		text-decoration: underline;
	}
}